/* proSilver phpBB Garage Button Styles
---------------------------------------- */

/* Rollover buttons
   Based on: http://wellstyled.com/css-nopreload-rollovers.html
   Based on: http://www.phpBB.com phpBB3 Release
----------------------------------------*/
.buttons {
	float: left;
	width: auto;
	height: 25px;		/* Set to height of button */
}

/* Rollover state */
.buttons div {
	float: left;
	margin: 0 5px 0 0;
	background-position: 0 100%;
	/* Button dimensions */
	width: 96px;
	height: 25px;
}

/* Rolloff state */
.buttons div a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
}

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
.buttons div span	{ display: none; }
.buttons div a:hover	{ background-image: none; }

/* Big button images */
.newvehicle-icon, .post-icon a		{ background: transparent none 0 0 no-repeat; }
.editvehicle-icon, .post-icon a		{ background: transparent none 0 0 no-repeat; }
.deletevehicle-icon, .post-icon a	{ background: transparent none 0 0 no-repeat; }
.viewvehicle-icon, .post-icon a		{ background: transparent none 0 0 no-repeat; }
.newmodification-icon, .post-icon a	{ background: transparent none 0 0 no-repeat; }
.newpremium-icon, .post-icon a		{ background: transparent none 0 0 no-repeat; }
.newquartermile-icon, .post-icon a	{ background: transparent none 0 0 no-repeat; }
.newdynorun-icon, .post-icon a		{ background: transparent none 0 0 no-repeat; }
.newlap-icon, .post-icon a		{ background: transparent none 0 0 no-repeat; }
.newservice-icon, .post-icon a		{ background: transparent none 0 0 no-repeat; }

/* Header icon images
---------------------------------------- */
.icon-garage, .icon-quartermile, .icon-dynorun {
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 17px;
	padding-top: 1px;
}

.icon-garage		{ background-image: none; }
.icon-quartermile	{ background-image: none; }
.icon-dynorun		{ background-image: none; }

/* Poster profile icons
----------------------------------------*/
ul.profile-icons {
	padding-top: 10px;
	height: 20px;
	list-style: none;
}

/* Rollover state */
ul.profile-icons li {
	float: left;
	width: 23px;
	height: 20px;
	margin: 0 3px 3px 0;
	background-position: 0 100%;
}

/* Rolloff state */
ul.profile-icons li a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
}

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
ul.profile-icons li span { display:none; }
ul.profile-icons li a:hover { background: none; }

/* Positioning of moderator icons */
.postbody ul.profile-icons {
	float: right;
	width: auto;
	padding: 0;
}

.postbody ul.profile-icons li {
	margin: 0 0 0 3px;
}

/* Profile & navigation icons */
.email-icon, .email-icon a		{ background: none top left no-repeat; }
.aim-icon, .aim-icon a			{ background: none top left no-repeat; }
.yahoo-icon, .yahoo-icon a		{ background: none top left no-repeat; }
.web-icon, .web-icon a			{ background: none top left no-repeat; }
.msnm-icon, .msnm-icon a		{ background: none top left no-repeat; }
.icq-icon, .icq-icon a			{ background: none top left no-repeat; }
.pm-icon, .pm-icon a			{ background: none top left no-repeat; }
.garage-icon, .garage-icon a		{ background: none top left no-repeat; }

ul.profile-icons li.pm-icon {
	width: 28px;
}

ul.profile-icons li.quote-icon {
	width: 54px;
	margin-left: 10px;
}

div.rank-image {
	width: auto;
	height: 10px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}

/* Moderator icons */
.report-icon, .report-icon a		{ background: none top left no-repeat; }
.warn-icon, .warn-icon a		{ background: none top left no-repeat; }
.edit-icon, .edit-icon a		{ background: none top left no-repeat; }

ul.profile-icons li.edit-icon {
	width: 41px;
}

.delete-icon, .delete-icon a		{ background: none top left no-repeat; }
.info-icon, .info-icon a		{ background: none top left no-repeat; }

ul.profile-icons li.info-icon, ul.profile-icons li.report-icon {
	margin-left: 0;
}


.garage-icon, .garage-icon a		{ background-image: url("{T_IMAGESET_PATH}/icon_miniprofile_garage.gif"); }
.newvehicle-icon, .newvehicle-icon a		{ background-image: url("{T_IMAGESET_LANG_PATH}/garage_new_vehicle.gif"); }

