<!-- IF S_DISPLAY_GARAGE_PROFILE and VEHICLE -->
<div class="panel bg3">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h4>{USERNAME}'s {L_MAIN_VEHICLE}</h4></td>
		<fieldset>	
			<dl>
				<dt>{L_VEHICLE}: </dt>
				<dd><b>{VEHICLE}</b></dd>
			</dl>	
			<dl>
				<dt>{L_COLOUR}: </dt>
				<dd><b>{COLOUR}</b></dd>
			</dl>
			<dl>
				<dt>{L_MILEAGE}: </dt>
				<dd><b>{MILEAGE} {MILEAGE_UNITS}</b></dd>
			</dl>
			<dl>
				<dt>{L_PRICE}: </dt>
				<dd><b>{PRICE} {CURRENCY}</b></dd>
			</dl>
			<dl>
				<dt>{L_TOTAL_MODS}: </dt>
				<dd><b>{TOTAL_MODS}</b></dd>
			</dl>
			<dl>
				<dt>{L_TOTAL_SPENT}: </dt>
				<dd><b>{TOTAL_SPENT} {CURRENCY}</b></dd>
			</dl>	
			<dl>
				<dt>{L_DESCRIPTION}: </dt>
				<dd>{DESCRIPTION}</b></dd>
			</dl>
		</fieldset>
		{HILITE_IMAGE}
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->
