<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

<script type="text/javascript">
<!--

function confirm_delete_vehicle(car_id)
{
	if ( confirm("{L_CONFIRM_DELETE_VEHICLE}") )
	{

		window.location.href = "{U_DELETE_VEHICLE2}&VID=" + car_id;
	}
}

function confirm_delete_mod (car_id, mod_id)
{
	if ( confirm("{L_CONFIRM_DELETE_MODIFICATION}") )
	{
		window.location.href = "{U_DELETE_MODIFICATION}&MID=" + mod_id + "&VID=" + car_id;
	}
}

function confirm_delete_insurance (car_id, ins_id)
{
	if ( confirm("{L_CONFIRM_DELETE_PREMIUM}") )
	{
		window.location.href = "{U_DELETE_PREMIUM}&INS_ID=" + ins_id + "&VID=" + car_id;
	}
}

function confirm_delete_quartermile (car_id, qm_id)
{
	if ( confirm("{L_CONFIRM_DELETE_QUARTERMILE}") )
	{
		window.location.href = "{U_DELETE_QUARTERMILE}&QMID=" + qm_id + "&VID=" + car_id;
	}
}

function confirm_delete_dynorun (car_id, did)
{
	if ( confirm("{L_CONFIRM_DELETE_DYNORUN}") )
	{
		window.location.href = "{U_DELETE_DYNORUN}&DID=" + did + "&VID=" + car_id;
	}
}

function confirm_delete_lap (car_id, lid)
{
	if ( confirm("{L_CONFIRM_DELETE_LAP}") )
	{
		window.location.href = "{U_DELETE_LAP}&LID=" + lid + "&VID=" + car_id;
	}
}

function confirm_delete_service (car_id, svid)
{
	if ( confirm("{L_CONFIRM_DELETE_SERVICE}") )
	{
		window.location.href = "{U_DELETE_SERVICE}&SVID=" + svid + "&VID=" + car_id;
	}
}

function jumpto_garage()
{
	var page = prompt('{LA_JUMP_PAGE}:', '{ON_PAGE}');
	var perpage = '{PER_PAGE}';
	var base_url = '{BASE_URL}';
	var hash_location = '#' + '{HASH_LOCATION}';

	if (page !== null && !isNaN(page) && page > 0)
	{
		document.location.href = base_url.replace(/&amp;/g, '&') + '&start=' + ((page - 1) * perpage) + hash_location;
	}
}

//-->
</script>

<div id="garage-main">
<div id="cp-main">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{YEAR}&nbsp;{MAKE}&nbsp;{MODEL}</h3>

    			<table cellpadding="4" cellspacing="1" border="0" width="100%" class="tablebg">
     				<tr>
      					<th height="25" colspan="2"></th>
     				</tr>
        			<tr>
            				<td class="row1" width="59%" valign="top">
                				<table width="100%" cellpadding="4" cellspacing="1" border="0">
		    					<!-- IF ! U_VIEW_VEHICLE -->
		    					<tr>
   								<td class="row1"><span class="gen"><b>{L_OWNER}</b></span></td>
		    					</tr>
                    					<tr>
								<td align="center">{AVATAR_IMG}<br /><span class="gen"><b><a href="{U_PROFILE}" <!-- IF USERNAME_COLOUR --> style="color: {USERNAME_COLOUR}"<!-- ENDIF -->>{USERNAME}</a></b></span></td>
		   					</tr>
							<!-- IF U_HILITE_IMAGE -->
							<tr>
    								<td class="row1"><span class="gen"><b>{L_HILITE_IMAGE}</b></span></td>
	           					</tr>
							<tr>
                        					<td align="center"><a href="{U_HILITE_IMAGE}" title="{HILITE_IMAGE_TITLE}" target="_blank"><img hspace="5" vspace="5" src="{HILITE_IMAGE}" /></a><br /><span class="gensmall">{L_TOTAL_VIEWS}: {TOTAL_IMAGE_VIEWS}</span></td>
                    					</tr>
							<!-- ENDIF -->
			                                <tr>
				                        	<td class="row1"><span class="gen"><b>{L_DESCRIPTION}</b></span></td>
                                   			</tr> 
			                                <tr>
				                        	<td align="center"><span class="gen">{DESCRIPTION}</span></td>
							</tr> 
							<!-- ENDIF -->
							<!-- IF U_MODERATE_VEHICLE -->
							<tr>
								<td align="center"><span class="gen"><a href="{U_MODERATE_VEHICLE}">{MODERATE_VEHICLE}</a></span></td>
							</tr>
							<!-- ENDIF -->
							<!-- IF U_VIEW_VEHICLE -->
                    					<tr>
    								<td class="row1"><span class="gen"><b>{L_MANAGE_VEHICLE_LINKS}</b><br /></span></td>
  		    					</tr>
                    					<tr>
                        					<td align="center" >
									<span class="gen">
									<!-- IF U_VIEW_VEHICLE --><div class="locked-icon"><a href="{U_VIEW_VEHICLE}">{VIEW_VEHICLE}</a></div>&nbsp;<!-- ENDIF -->
									<!-- IF U_EDIT_VEHICLE --><div class="locked-icon"><a href="{U_EDIT_VEHICLE}">{EDIT_VEHICLE}</a></div>&nbsp;<!-- ENDIF -->
									<!-- IF U_DELETE_VEHICLE --><div class="locked-icon"><a href="{U_DELETE_VEHICLE}">{DELETE_VEHICLE}</a></div>&nbsp;<!-- ENDIF -->
									<!-- IF U_ADD_MODIFICATION --><div class="locked-icon"><a href="{U_ADD_MODIFICATION}">{ADD_MODIFICATION}</a></div>&nbsp;<!-- ENDIF -->
									<!-- IF U_ADD_INSURANCE --><div class="locked-icon"><a href="{U_ADD_INSURANCE}">{ADD_INSURANCE}</a></div>&nbsp;<!-- ENDIF -->
									<!-- IF U_ADD_QUARTERMILE --><div class="locked-icon"><a href="{U_ADD_QUARTERMILE}">{ADD_QUARTERMILE}</a></div>&nbsp;<!-- ENDIF -->
									<!-- IF U_ADD_DYNORUN --><div class="locked-icon"><a href="{U_ADD_DYNORUN}">{ADD_DYNORUN}</a></div>&nbsp;<!-- ENDIF -->
									<!-- IF U_ADD_LAP --><div class="locked-icon"><a href="{U_ADD_LAP}">{ADD_LAP}</a></div>&nbsp;<!-- ENDIF -->
									<!-- IF U_ADD_SERVICE --><div class="locked-icon"><a href="{U_ADD_SERVICE}">{ADD_SERVICE}</a></div>&nbsp;<!-- ENDIF -->
									<!-- IF U_SET_MAIN_VEHICLE --><div class="locked-icon"><a href="{U_SET_MAIN_VEHICLE}">{SET_MAIN_VEHICLE}</a></div>&nbsp;<!-- ENDIF -->
									<br />
									<!-- IF U_HILITE_IMAGE -->
									<a href="{U_HILITE_IMAGE}" title="{HILITE_IMAGE_TITLE}" target="_blank"><img hspace="5" vspace="5" src="{HILITE_IMAGE}" /></a>
									<br /></span><span class="gensmall">{L_TOTAL_VIEWS}:&nbsp;{TOTAL_IMAGE_VIEWS}</span>
									<!-- ENDIF -->
                        					</td>
                    					</tr>
							<!-- ENDIF -->
                				</table>
            				</td>
            				<td class="row1" width="41%" valign="top">
						<form method="post" name="view_vehicle" action="{S_MODE_ACTION}">
                				<table cellpadding="4" cellspacing="1" width="100%">
                    					<tr>
                        					<td class="row1" ><span class="gen"><b>{L_VEHICLE}</b></span></td>
                        					<td><span class="gen">{YEAR}&nbsp;{MAKE}&nbsp;{MODEL}</span></td>
                    					</tr>
                    					<tr>
                        					<td class="row1" ><span class="gen"><b>{L_COLOUR}</b></span></td>
                        					<td><span class="gen">{COLOUR}</span></td>
                    					</tr>
                    					<tr>
                        					<td class="row1" ><span class="gen"><b>{L_UPDATED}</b></span></td>
                        					<td><span class="gen">{DATE_UPDATED}</span></td>
                    					</tr>
                    					<tr>
                        					<td class="row1" ><span class="gen"><b>{L_MILEAGE}</b></span></td>
                        					<td><span class="gen">{MILEAGE}&nbsp;{MILEAGE_UNITS}</span></td>
                    					</tr>
                    					<tr>
                        					<td class="row1" ><span class="gen"><b>{L_PRICE}</b></span></td>
                        					<td><span class="gen">{PRICE}&nbsp;{CURRENCY}</span></td>
                    					</tr>
                    					<tr>
                        					<td class="row1" ><span class="gen"><b>{L_TOTAL_MODS}</b></span></td>
                        					<td><span class="gen">{TOTAL_MODS}</span></td>
                    					</tr>
                    					<tr>
                        					<td class="row1" ><span class="gen"><b>{L_TOTAL_SPENT}</b></span></td>
                        					<td><span class="gen">{TOTAL_SPENT}&nbsp;{CURRENCY}</span></td>
                    					</tr>
                    					<tr>
                        					<td class="row1" ><span class="gen"><b>{L_TOTAL_VIEWS}</b></span></td>
                        					<td><span class="gen">{TOTAL_VIEWS}</span></td>
                    					</tr>
            	    					<tr>
                        					<td class="row1" valign="top" nowrap="nowrap"><span class="gen"><b>{L_VEHICLE_RATING}</b></span></td>
                        					<td width="95%"><span class="gen">{RATING}</span></td>
							</tr>
							<!-- BEGIN custom_vehicle_fields -->
								<br /><b>{custom_vehicle_fields.PROFILE_FIELD_NAME}:</b> {custom_vehicle_fields.PROFILE_FIELD_VALUE}
							<!-- END custom_vehicle_fields -->
							<!-- IF ! S_DISPLAY_VEHICLE_OWNER -->
            	    					<tr>
                        					<td class="row1"  valign="top" ><span class="gen"><b>{L_PLEASE_RATE}</b></span></td>
                        					<td width="85%"><select id="vehicle_rating" name="vehicle_rating"><option value="">{L_SELECT_RATING}</option><option value="">------</option><!-- BEGIN rating --><option value="{rating.VALUE}" <!-- IF rating.S_SELECTED -->selected="selected"<!-- ENDIF -->>{rating.TEXT}</option><!-- END rating --></select>&nbsp;<input type="hidden" value="rate_vehicle" name="mode" /><input type="hidden" value="{VID}" name="VID" />
								<!-- IF S_DISPLAY_RATE -->
								<input name="submit" type="submit" value="{L_RATE}" class="liteoption" />
								<!-- ENDIF rate -->
								<span class="gensmall"><i> {L_RATING_NOTICE}</i></span></td>
                    					</tr>
							<!-- ENDIF -->
                				</table>
						</form>
            				</td>
        			</tr>
    			</table>
			<br />

		<div id="advanced00">
			<div id="tabs">
				<ul>
					<!-- IF S_DISPLAY_IMAGE_TAB --><li class="garage_preset_yes" id="tab000"><a href="#images" onclick="swap_options('0','0','0');"><span class="tabbg">{L_IMAGES}</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_MODIFICATION_TAB --><li class="garage_preset_yes" id="tab001"><a href="#modifications" onclick="swap_options('0','0','1');"><span class="tabbg">{L_MODIFICATIONS}</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_QUARTERMILE_TAB --><li class="garage_preset_yes" id="tab002"><a href="#quartermiles" onclick="swap_options('0','0','2');"><span class="tabbg">&frac14; Miles</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_DYNORUN_TAB --><li class="garage_preset_yes" id="tab003"><a href="#dynoruns" onclick="swap_options('0','0','3');"><span class="tabbg">Dynoruns</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_LAP_TAB --><li class="garage_preset_yes" id="tab004"><a href="#laps" onclick="swap_options('0','0','4');"><span class="tabbg">Laps</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_PREMIUM_TAB --><li class="garage_preset_yes" id="tab005"><a href="#premiums" onclick="swap_options('0','0','5');"><span class="tabbg">Premiums</span></a></li><!-- ENDIF -->	
					<!-- IF S_DISPLAY_SERVICE_TAB --><li class="garage_preset_yes" id="tab006"><a href="#services" onclick="swap_options('0','0','6');"><span class="tabbg">Services</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_BLOG_TAB --><li class="garage_preset_yes" id="tab007"><a href="#blog" onclick="swap_options('0','0','7');"><span class="tabbg">Blog</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_GUESTBOOK_TAB --><li class="garage_preset_yes" id="tab008"><a href="#guestbook" onclick="swap_options('0','0','8');"><span class="tabbg">Guestbook</span></a></li>	<!-- ENDIF -->
				</ul>
			</div>

			<div class="garage_panel" id="options000" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
			<!-- IF S_DISPLAY_GALLERIES -->
				<table width="100%" id="table000" cellspacing="1" class="tablebg">
				<tr>
      					<th height="25">{L_GALLERY}</th>
    				</tr>
				<!-- IF S_DISPLAY_VEHICLE_IMAGES -->
   				<tr>
			      		<td class="cat" width="100%"><span class="gen">{L_VEHICLE_PICTURES}</span></td>
			     	</tr>
			        <tr>
					<td class="row1">
						<!-- BEGIN vehicle_image -->
							<a href="{vehicle_image.U_IMAGE}"><img hspace="5" vspace="5" name="{vehicle_image.IMAGE_NAME}" src="{vehicle_image.IMAGE_SOURCE}" /></a>
						<!-- END vehicle_image -->
					</td>
				</tr>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_MODIFICATION_IMAGES -->
				<tr>
      					<td class="cat" width="100%"><span class="gen">{L_MODIFICATION_PICTURES} <i>({L_SHOWING} {SHOWING_MOD_IMAGES} {L_OF} {TOTAL_MOD_IMAGES} {L_IMAGES})</i></span></td>
     				</tr>
        			<tr>
					<td class="row1">
						<!-- BEGIN modification_image -->
							<a href="{modification_image.U_IMAGE}"><img hspace="5" vspace="5" name="{modification_image.IMAGE_NAME}" src="{modification_image.IMAGE_SOURCE}" /></a>
						<!-- END modification_image -->
					</td>
        			</tr>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_QUARTERMILE_IMAGES -->
   				<tr>
			      		<td class="cat" width="100%"><span class="gen">{L_QUARTERMILE_PICTURES} <i>({L_SHOWING} {SHOWING_QUARTERMILE_IMAGES} {L_OF} {TOTAL_QUARTERMILE_IMAGES} {L_IMAGES})</i></span></td>
			     	</tr>
			        <tr>
					<td class="row1">
						<!-- BEGIN quartermile_image -->
							<a href="{quartermile_image.U_IMAGE}"><img hspace="5" vspace="5" name="{quartermile_image.IMAGE_NAME}" src="{quartermile_image.IMAGE_SOURCE}" /></a>
						<!-- END quartermile_image -->
					</td>
				</tr>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_DYNORUN_IMAGES -->
   				<tr>
			      		<td class="cat" width="100%"><span class="gen">{L_DYNORUN_PICTURES} <i>({L_SHOWING} {SHOWING_DYNORUN_IMAGES} {L_OF} {TOTAL_DYNORUN_IMAGES} {L_IMAGES})</i></span></td>
			     	</tr>
			        <tr>
					<td class="row1">
						<!-- BEGIN dynorun_image -->
							<a href="{dynorun_image.U_IMAGE}"><img hspace="5" vspace="5" name="{dynorun_image.IMAGE_NAME}" src="{dynorun_image.IMAGE_SOURCE}" /></a>
						<!-- END dynorun_image -->
					</td>
				</tr>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_LAP_IMAGES -->
   				<tr>
			      		<td class="cat" width="100%"><span class="gen">{L_LAP_PICTURES} <i>({L_SHOWING} {SHOWING_LAP_IMAGES} {L_OF} {TOTAL_LAP_IMAGES} {L_IMAGES})</i></span></td>
			     	</tr>
			        <tr>
					<td class="row1">
						<!-- BEGIN lap_image -->
							<a href="{lap_image.U_IMAGE}"><img hspace="5" vspace="5" name="{lap_image.IMAGE_NAME}" src="{lap_image.IMAGE_SOURCE}" /></a>
						<!-- END lap_image -->
					</td>
				</tr>
				<!-- ENDIF -->
				</table>
			<!-- ENDIF -->
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

			<div class="garage_panel" id="options001" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
				<!-- BEGIN category -->
				<table width="100%" cellspacing="1" class="tablebg">
				<tr>
					<th height="25" colspan="8">{category.CATEGORY_TITLE}&nbsp;{L_MODIFICATIONS}</th>
   				</tr>
   				<tr>
      					<td class="cat" width="3%"><span class="gen"></span></td>
				      	<td class="cat" ><span class="gen">{L_MODIFICATION}</span></td>
					<td class="cat" ><span class="gen">{L_RATING}</span></td>
					<td class="cat" ><span class="gen">{L_COST}</span></td>
					<td class="cat" ><span class="gen">{L_INSTALL}</span></td>
					<td class="cat" nowrap><span class="gen">{L_CREATED}</span></td>
					<td class="cat" nowrap><span class="gen">{L_UPDATED}</span></td>
					<!-- IF S_DISPLAY_VEHICLE_OWNER--><td class="cat" ></td><!-- ENDIF -->
				</tr>
				<!-- BEGIN modification -->
   				<tr>
					<td class="row1"><span class="gen"><!-- IF category.modification.U_IMAGE --><a href="{category.modification.U_IMAGE}" target="_blank">{category.modification.IMAGE}</a><!-- ENDIF --></span></td>
					<td class="row1"><span class="gen">{category.modification.MODIFICATION}</span></td>
					<td class="row1" align="center"><span class="gensmall">{category.modification.RATING}</span></td>
					<td class="row1" align="center"><span class="gensmall">{category.modification.COST}</span></td>
					<td class="row1" align="center"><span class="gensmall">{category.modification.INSTALL}</span></td>
					<td class="row1" nowrap><span class="gensmall">{category.modification.CREATED}</span></td>
					<td class="row1" nowrap><span class="gensmall">{category.modification.UPDATED}</span></td>
					<!-- IF S_DISPLAY_VEHICLE_OWNER--><td class="row1" align="right"><span class="gensmall"><!-- IF category.modification.U_EDIT --><a href="{category.modification.U_EDIT}">{EDIT}</a><!-- ENDIF -->&nbsp;<!-- IF category.modification.U_DELETE--><a href="{category.modification.U_DELETE}">{DELETE}</a><!-- ENDIF --></span></td><!-- ENDIF -->
				</tr>
  				<!-- END modification -->
				</table>
				<br />
				<!-- END category -->
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>
			
			<div class="garage_panel" id="options002" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
			<!-- BEGIN quartermile -->
				<table width="100%" cellspacing="1" class="tablebg">
				<tr>
	  				<th colspan="10">{L_QUARTER_MILE_TIMES}</th>
				</tr>
				<tr>
	  				<td class="cat" ></th>
	  				<td class="cat" ><span class="gen">{L_RT}</span></td>
					<td class="cat" ><span class="gen">{L_SIXTY}</span></td>
					<td class="cat" ><span class="gen">{L_THREE}</span></td>
					<td class="cat" ><span class="gen">{L_EIGHTH}</span></td>
					<td class="cat" ><span class="gen">{L_EIGHTHMPH}</span></td>
					<td class="cat" ><span class="gen">{L_THOU}</span></td>
					<td class="cat" ><span class="gen">{L_QUART}</span></td>
					<td class="cat" ><span class="gen">{L_QUARTMPH}</span></td>
					<!-- IF S_DISPLAY_VEHICLE_OWNER --><td class="cat" ></td><!-- ENDIF -->
				</tr>
				<!-- BEGIN run -->
				<tr>
	  				<td class="row1" align="center"><span class="gensmall"><!-- IF quartermile.run.U_IMAGE --><a href="{quartermile.run.U_IMAGE}" target="_blank">{quartermile.run.IMAGE}</a><!-- ENDIF --></span></td>
		  			<td class="row1" align="center"><span class="gensmall">{quartermile.run.RT}</span></td>
		  			<td class="row1" align="center"><span class="gensmall">{quartermile.run.SIXTY}</span></td>
					<td class="row1" align="center"><span class="gensmall">{quartermile.run.THREE}</span></td>
					<td class="row1" align="center"><span class="gensmall">{quartermile.run.EIGHTH}</span></td>
					<td class="row1" align="center"><span class="gensmall">{quartermile.run.EIGHTHMPH}</span></td>
					<td class="row1" align="center"><span class="gensmall">{quartermile.run.THOU}</span></td>
					<td class="row1" align="center"><span class="gensmall"><a href="{quartermile.run.U_QUART}">{quartermile.run.QUART}</a></span></td>
					<td class="row1" align="center"><span class="gensmall">{quartermile.run.QUARTMPH}</span></td>
					<!-- IF S_DISPLAY_VEHICLE_OWNER--><td class="row1" align="right"><span class="gensmall"><!-- IF quartermile.run.U_EDIT --><a href="{quartermile.run.U_EDIT}">{EDIT}</a><!-- ENDIF -->&nbsp;<!-- IF quartermile.run.U_DELETE--><a href="{quartermile.run.U_DELETE}">{DELETE}</a><!-- ENDIF --></span></td><!-- ENDIF -->
				</tr>
				<!-- END run -->
				</table>
			<!-- END quartermile -->
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

			<div class="garage_panel" id="options003" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
			<!-- BEGIN dynorun -->
				<table width="100%" cellspacing="1" class="tablebg">
				<tr>
					<th colspan="11">{L_DYNORUNS}</th>
				</tr>
				<tr>
					<td class="cat" ></td>
					<td class="cat" ><span class="gen">{L_DYNOCENTRE}</span></td>
					<td class="cat" ><span class="gen">{L_BHP}</span></td>
					<td class="cat" ><span class="gen">{L_BHP_UNIT}</span></td>
					<td class="cat" ><span class="gen">{L_TORQUE}</span></td>
					<td class="cat" ><span class="gen">{L_TORQUE_UNIT}</span></td>
					<td class="cat" ><span class="gen">{L_BOOST}</span></td>
					<td class="cat" ><span class="gen">{L_BOOST_UNIT}</span></td>
					<td class="cat" ><span class="gen">{L_NITROUS}</span></td>
					<td class="cat" ><span class="gen">{L_PEAKPOINT}</span></td>
					<!-- IF S_DISPLAY_VEHICLE_OWNER --><td class="cat" ></td><!-- ENDIF -->

				</tr>
				<!-- BEGIN run -->
				<tr>
	  				<td class="row1" align="center"><span class="gensmall"><!-- IF dynorun.run.U_IMAGE --><a href="{dynorun.run.U_IMAGE}" target="_blank">{dynorun.run.IMAGE}</a><!-- ENDIF --></span></td>
					<td class="row1" align="center"><span class="gensmall">{dynorun.run.DYNOCENTER}</span></td>
					<td class="row1" align="center"><span class="gensmall"><a href="{dynorun.run.U_BHP}">{dynorun.run.BHP}</a></span></td>
					<td class="row1" align="center"><span class="gensmall">{dynorun.run.BHP_UNIT}</span></td>
					<td class="row1" align="center"><span class="gensmall">{dynorun.run.TORQUE}</span></td>
					<td class="row1" align="center"><span class="gensmall">{dynorun.run.TORQUE_UNIT}</span></td>
					<td class="row1" align="center"><span class="gensmall">{dynorun.run.BOOST}</span></td>
					<td class="row1" align="center"><span class="gensmall">{dynorun.run.BOOST_UNIT}</span></td>
					<td class="row1" align="center"><span class="gensmall">{dynorun.run.NITROUS}</span></td>
					<td class="row1" align="center"><span class="gensmall">{dynorun.run.PEAKPOINT}</span></td>
					<!-- IF S_DISPLAY_VEHICLE_OWNER--><td class="row1" align="right"><span class="gensmall"><!-- IF dynorun.run.U_EDIT --><a href="{dynorun.run.U_EDIT}">{EDIT}</a><!-- ENDIF -->&nbsp;<!-- IF dynorun.run.U_DELETE--><a href="{dynorun.run.U_DELETE}">{DELETE}</a><!-- ENDIF --></span></td><!-- ENDIF -->
				</tr>
				<!-- END run -->
				</table>
			<!-- END dynorun -->
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

			<div class="garage_panel" id="options004" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
			<!-- BEGIN tracktime -->
				<table width="100%" cellspacing="1" class="tablebg">
				<tr>
					<th colspan="11">{L_LAPS}</th>
				</tr>
				<tr>
					<td class="cat" ></td>
					<td class="cat" ><span class="gen">{L_TRACK}</span></td>
					<td class="cat" ><span class="gen">{L_CONDITION}</span></td>
					<td class="cat" ><span class="gen">{L_TYPE}</span></td>
					<td class="cat" ><span class="gen">{L_TIME}</span>&nbsp;<span class="gensmall">(M:S:MS)</span></td>
					<!-- IF S_DISPLAY_VEHICLE_OWNER --><td class="cat" ></td><!-- ENDIF -->

				</tr>
				<!-- BEGIN lap -->
				<tr>
	  				<td class="row1" align="center"><span class="gensmall"><!-- IF tracktime.lap.U_IMAGE --><a href="{tracktime.lap.U_IMAGE}" target="_blank">{tracktime.lap.IMAGE}</a><!-- ENDIF --></span></td>
					<td class="row1" align="center"><span class="gensmall"><a href="{tracktime.lap.U_TRACK}">{tracktime.lap.TRACK}</a></span></td>
					<td class="row1" align="center"><span class="gensmall">{tracktime.lap.CONDITION}</span></td>
					<td class="row1" align="center"><span class="gensmall">{tracktime.lap.TYPE}</span></td>
					<td class="row1" align="center"><span class="gensmall"><a href="{tracktime.lap.U_LAP}">{tracktime.lap.MINUTE}.{tracktime.lap.SECOND}.{tracktime.lap.MILLISECOND}</a></span></td>
					<!-- IF S_DISPLAY_VEHICLE_OWNER--><td class="row1" align="right"><span class="gensmall"><!-- IF tracktime.lap.U_EDIT --><a href="{tracktime.lap.U_EDIT}">{EDIT}</a><!-- ENDIF -->&nbsp;<!-- IF tracktime.lap.U_DELETE--><a href="{tracktime.lap.U_DELETE}">{DELETE}</a><!-- ENDIF --></span></td><!-- ENDIF -->
				</tr>
				<!-- END lap -->
				</table>
			<!-- END tracktime -->
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

			<div class="garage_panel" id="options005" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
			<!-- BEGIN insurance -->
				<table width="100%" cellspacing="1" class="tablebg">
				<tr>
	  				<th colspan="4">{L_INSURANCE_PREMIUMS}</th>
				</tr>
				<tr>
	  				<td class="cat" ><span class="gen">{L_INSURANCE_COMPANY}</span></td>
	  				<td class="cat" ><span class="gen">{L_PREMIUM}</span></td>
	  				<td class="cat" ><span class="gen">{L_COVER_TYPE}</span></td>
	  				<!-- IF S_DISPLAY_VEHICLE_OWNER --><td class="cat" ></td><!-- ENDIF -->
				</tr>
				<!-- BEGIN premium -->
				<tr>
					<td class="row1" align="center"><span class="gensmall"><a href="{insurance.premium.U_INSURER}">{insurance.premium.INSURER}</a></span></td>
	  				<td class="row1" align="center"><span class="gensmall">{insurance.premium.PREMIUM}</span></td>
					<td class="row1" align="center"><span class="gensmall">{insurance.premium.COVER_TYPE}</span></td>
					<!-- IF S_DISPLAY_VEHICLE_OWNER --><td class="row1" align="right"><span class="gensmall"><!-- IF insurance.premium.U_EDIT --><a href="{insurance.premium.U_EDIT}">{EDIT}</a><!-- ENDIF -->&nbsp;<!-- IF insurance.premium.U_DELETE--><a href="{insurance.premium.U_DELETE}">{DELETE}</a><!-- ENDIF --></span></td><!-- ENDIF -->
				</tr>
				<!-- END premium -->
				</table>
			<!-- END insurance -->
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

			<div class="garage_panel" id="options006" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
			<!-- BEGIN service_history -->
				<table width="100%" cellspacing="1" class="tablebg">
				<tr>
	  				<th colspan="6">{L_SERVICE_HISTORY}</th>
				</tr>
				<tr>
	  				<td class="cat" ><span class="gen">{L_GARAGE}</span></td>
	  				<td class="cat" ><span class="gen">{L_TYPE}</span></td>
	  				<td class="cat" ><span class="gen">{L_COST}</span></td>
	  				<td class="cat" ><span class="gen">{L_RATING}</span></td>
	  				<td class="cat" ><span class="gen">{L_MILEAGE}</span></td>
	  				<!-- IF S_DISPLAY_VEHICLE_OWNER --><td class="cat" ></td><!-- ENDIF -->
				</tr>
				<!-- BEGIN service -->
				<tr>
					<td class="row1" align="center"><span class="gensmall"><a href="{service_history.service.U_GARAGE}">{service_history.service.TITLE}</a></span></td>
	  				<td class="row1" align="center"><span class="gensmall">{service_history.service.TYPE}</span></td>
					<td class="row1" align="center"><span class="gensmall">{service_history.service.PRICE}</span></td>
					<td class="row1" align="center"><span class="gensmall">{service_history.service.RATING}</span></td>
					<td class="row1" align="center"><span class="gensmall">{service_history.service.MILEAGE}</span></td>
					<!-- IF S_DISPLAY_VEHICLE_OWNER --><td class="row1" align="right"><span class="gensmall"><!-- IF service_history.service.U_EDIT --><a href="{service_history.service.U_EDIT}">{EDIT}</a><!-- ENDIF -->&nbsp;<!-- IF service_history.service.U_DELETE--><a href="{service_history.service.U_DELETE}">{DELETE}</a><!-- ENDIF --></span></td><!-- ENDIF -->
				</tr>
				<!-- END service -->
				</table>
			<!-- END service_history -->
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

			<div class="garage_panel" id="options007" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
			<!-- BEGIN blog -->
			<form method="post" name="guestbook" action="{S_MODE_BLOG_ACTION}">
			<table width="100%" cellspacing="1" cellpadding="3" border="0" class="tablebg">
				<tr>
					<th height="25" nowrap="nowrap" colspan="5">{L_BLOG}</th>
				</tr>
				<!-- IF S_DISPLAY_ENTRY_BLOG -->
				<tr>
					<td class="cat" align="center" height="28" colspan="5"><span class="gen">{L_ADD_BLOG}</span></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen">{L_BLOG_HEADER}</span></td>
					<td class="row2" colspan="1"><input name="blog_title" type="text" class="post" size="60" value="{}" /></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen">{L_ADD_BLOG}</span></td>
					<td class="row2" colspan="1"><textarea name="blog_text" cols="70" rows="6" wrap="soft" class="post">{}</textarea></td>
				</tr>
				<tr>
					<td class="cat" align="center" height="28" colspan="5"><input type="hidden" value="{VID}" name="VID" /><input name="submit" type="submit" class="liteoption" value="{L_ADD_BLOG}"/></td>
				</tr>
				<!-- ENDIF -->
				<!-- BEGIN entry -->
				<tr>
					<td class="row1" colspan="2"><h3>{blog.entry.BLOG_TITLE}</h3>{blog.entry.BLOG_DATE}<br /><br />{blog.entry.BLOG_TEXT}</td>
				</tr>
				<!-- BEGINELSE -->
				<tr>
					<td class="row1" align="center" height="28" colspan="5"><span class="gen">{L_ADD_FIRST_BLOG}</span></td>
				</tr>
				<!-- END entry -->
			</table>

			<table width="100%" cellspacing="1">
			<tr>
				<!-- IF TOTAL_BLOGS -->
					<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
					<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_BLOGS} ]&nbsp;</td>
					<td class="gensmall" width="100%" align="right" nowrap="nowrap"><!-- INCLUDE garage_pagination.html --></td>
				<!-- ENDIF -->
			</tr>
			</table>

			</form>
			<!-- END blog -->
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

			<div class="garage_panel" id="options008" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
			<!-- BEGIN guestbook -->
			<form method="post" name="guestbook" action="{S_MODE_GUESTBOOK_ACTION}">
			<table width="100%" cellspacing="1" cellpadding="3" border="0" class="tablebg">
			<!-- BEGIN comments -->
			<!-- IF guestbook.comments.S_FIRST_ROW -->
				<tr>
					<th>{L_AUTHOR}</th>
					<th>{L_MESSAGE}</th>
				</tr>
				<!-- ENDIF -->
				<!-- IF guestbook.comments.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

				<!-- IF guestbook.comments.S_IGNORE_POST -->
						<td class="gensmall" colspan="2" height="25" align="center"><!-- IF guestbook.comments.S_FIRST_UNREAD --><a name="unread"></a><!-- ENDIF --><a name="p{guestbook.comments.POST_ID}"></a>{guestbook.comments.L_IGNORE_POST}</td>
				<!-- ELSE -->

						<td align="center" valign="middle">
							<b class="postauthor" <!-- IF guestbook.comments.POST_AUTHOR_COLOUR -->style="color: {guestbook.comments.POST_AUTHOR_COLOUR}"<!-- ENDIF -->>{guestbook.comments.POST_AUTHOR}</b>
						</td>
						<td width="100%" height="25">
							<table width="100%" cellspacing="0">
							<tr>
							<!-- IF guestbook.comments.POST_ICON_IMG -->
								<td><img src="{T_ICONS_PATH}{guestbook.comments.POST_ICON_IMG}" width="{guestbook.comments.POST_ICON_IMG_WIDTH}" height="{guestbook.comments.POST_ICON_IMG_HEIGHT}" alt="" title="" /></td>
							<!-- ENDIF -->
								<td class="gensmall" width="100%"><div style="float:right"><a href="{guestbook.comments.U_MINI_POST}">{guestbook.comments.MINI_POST_IMG}</a><b>{L_POSTED}:</b> {guestbook.comments.POST_DATE}&nbsp;</div></td>
							</tr>
							</table>
						</td>
					</tr>
		
					<!-- IF guestbook.comments.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

						<td valign="top">
							<table cellspacing="4" align="center" width="150">
						<!-- IF guestbook.comments.ONLINE_IMG -->
							<tr>
								<td>{guestbook.comments.ONLINE_IMG}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF guestbook.comments.RANK_TITLE -->
				<tr>
					<td class="postdetails">{guestbook.comments.RANK_TITLE}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF guestbook.comments.RANK_IMG -->
				<tr>
					<td>{guestbook.comments.RANK_IMG}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF guestbook.comments.POSTER_AVATAR -->
				<tr>
					<td>{guestbook.comments.POSTER_AVATAR}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF guestbook.comments.U_VEHICLE -->
				<tr>
					<td class="postdetails"><a href={guestbook.comments.U_VEHICLE}>{guestbook.comments.POSTER_CAR_YEAR} {guestbook.comments.POSTER_CAR_MARK} {guestbook.comments.POSTER_CAR_MODEL}</a></td>
				</tr>
			<!-- ENDIF -->
				</table>

				<span class="postdetails">
					<!-- IF guestbook.comments.POSTER_JOINED --><br /><b>{L_JOINED}:</b> {guestbook.comments.POSTER_JOINED}<!-- ENDIF -->
					<!-- IF guestbook.comments.POSTER_POSTS != '' --><br /><b>{L_POSTS}:</b> {guestbook.comments.POSTER_POSTS}<!-- ENDIF -->
					<!-- IF guestbook.comments.POSTER_FROM --><br /><b>{L_LOCATION}:</b> {guestbook.comments.POSTER_FROM}<!-- ENDIF -->

					<!-- BEGIN custom_fields -->
						<br /><b>{guestbook.comments.custom_fields.PROFILE_FIELD_NAME}:</b> {guestbook.comments.custom_fields.PROFILE_FIELD_VALUE}
					<!-- END custom_fields -->
				</span>

			</td>
			<td valign="top">
				<table width="100%" cellspacing="5">
				<tr>
					<td>
						<div class="postbody">{guestbook.comments.MESSAGE}</div>

					<!-- IF guestbook.comments.SIGNATURE -->
						<span class="postbody"><br />_________________<br />{guestbook.comments.SIGNATURE}</span>
					<!-- ENDIF -->

					<!-- IF not guestbook.comments.S_HAS_ATTACHMENTS --><br clear="all" /><br /><!-- ENDIF -->
									<table width="100%" cellspacing="0">
									<tr valign="middle">
										<td class="gensmall" align="right">
										<!-- IF not S_IS_BOT -->
											<!-- IF guestbook.comments.U_INFO --><a href="{guestbook.comments.U_INFO}">{INFO_IMG}</a> <!-- ENDIF --> 
											<!-- IF guestbook.comments.U_WARN --><a href="{guestbook.comments.U_WARN}">{WARN_IMG}</a> <!-- ENDIF --> 
											<!-- IF guestbook.comments.U_DELETE --><a href="{guestbook.comments.U_DELETE}">{DELETE_IMG}</a> <!-- ENDIF -->
										<!-- ENDIF -->
										</td>
									</tr>
									</table>
								</td>
							</tr>
							</table>
						</td>
					</tr>

					<!-- IF guestbook.comments.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

						<td nowrap="nowrap">&nbsp;</td>
						<td><div class="gensmall" style="float: left;">&nbsp;<!-- IF guestbook.comments.U_PROFILE --><a href="{guestbook.comments.U_PROFILE}">{PROFILE_IMG}</a> <!-- ENDIF --> <!-- IF guestbook.comments.U_PM --><a href="{guestbook.comments.U_PM}">{PM_IMG}</a> <!-- ENDIF --> <!-- IF guestbook.comments.U_EMAIL --><a href="{guestbook.comments.U_EMAIL}">{EMAIL_IMG}</a> <!-- ENDIF -->&nbsp;</div> <div class="gensmall" style="float:right"><!-- IF not S_IS_BOT --><!-- IF guestbook.comments.U_EDIT --><a href="{guestbook.comments.U_EDIT}">{EDIT_IMG}</a> <!-- ENDIF --> <!-- IF guestbook.comments.U_QUOTE --><a href="{guestbook.comments.U_QUOTE}">{QUOTE_IMG}</a> <!-- ENDIF --> <!-- ENDIF -->&nbsp;</div></td>
					</tr>

				<!-- ENDIF -->
	
				<tr>
					<td class="spacer" colspan="2" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
				</tr>
				<!-- BEGINELSE -->
				<tr>
					<td class="row1" align="center" height="28" colspan="5"><span class="gen">{L_ADD_FIRST_COMMENT}</span></td>
				</tr>
				<!-- END comments -->

				<!-- IF S_DISPLAY_LEAVE_COMMENT -->
				<tr>
					<td class="cat" align="center" height="28" colspan="5"><span class="gen">{L_ADD_COMMENT}</span></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen">{L_ADD_COMMENT}</span></td>
					<td class="row2" colspan="4"><textarea name="comments" cols="70" rows="7" wrap="soft" class="post">{COMMENTS}</textarea></td>
				</tr>
				<tr>
					<td class="cat" align="center" height="28" colspan="5"><input type="hidden" value="insert_comment" name="mode" /><input type="hidden" value="{VID}" name="VID" /><input name="submit" type="submit" value="{L_POST_COMMENT}" class="liteoption" /></td>
				</tr>
				<!-- ENDIF -->
			</table>

			<table width="100%" cellspacing="1">
			<tr>
				<!-- IF TOTAL_COMMENTS -->
					<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
					<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_COMMENTS} ]&nbsp;</td>
					<td class="gensmall" width="100%" align="right" nowrap="nowrap"><!-- INCLUDE garage_pagination.html --></td>
				<!-- ENDIF -->
			</tr>
			</table>

			</form>
			<!-- END guestbook -->
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>
		
		</div>

<script type="text/javascript">
<!--
	var lowest_tab = '{S_LOWEST_TAB_AVAILABLE}';
	var active_pmask = '0';
	var active_fmask = '0';
	if (document.location.hash == "")
	{
		active_cat = lowest_tab;
		dE('options00' + lowest_tab , 0)
		var active_tab = document.getElementById("tab00" + lowest_tab);
	}
	else if (document.location.hash == "#images")
	{
		active_cat = '0';
		dE('options000', 0)
		var active_tab = document.getElementById("tab000");
	}
	else if (document.location.hash == "#modifications")
	{
		active_cat = '1';
		dE('options001', 0)
		var active_tab = document.getElementById("tab001");
	}
	else if (document.location.hash == "#quartermiles")
	{
		active_cat = '2';
		dE('options002', 0)	
		var active_tab = document.getElementById("tab002");
	}
	else if (document.location.hash == "#dynoruns")
	{
		active_cat = '3';
		dE('options003', 0)
		var active_tab = document.getElementById("tab003");
	}
	else if (document.location.hash == "#laps")
	{
		active_cat = '4';
		dE('options004', 0)
		var active_tab = document.getElementById("tab004");
	}
	else if (document.location.hash == "#premiums")
	{
		active_cat = '5';
		dE('options005', 0)
		var active_tab = document.getElementById("tab005");
	}
	else if (document.location.hash == "#services")
	{
		active_cat = '6';
		dE('options006', 0)
		var active_tab = document.getElementById("tab006");
	}
	else if (document.location.hash == "#blog")
	{
		active_cat = '7',
		dE('options007', 0)
		var active_tab = document.getElementById("tab007");
	}
	else if (document.location.hash == "#guestbook")
	{
		active_cat = '8';
		dE('options008', 0)
		var active_tab = document.getElementById("tab008");
	}

	var id = '000';
	active_tab.setAttribute("class", "garage_preset_yes activetab");

//-->
</script>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
