<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

<div id="garage-main">
<div id="cp-main">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<form action="{S_GARAGE_ACTION}" method="post">
			<h3>{L_ADD_MODEL}</h3>
			<!-- IF S_DISPLAY_PENDING -->
			<h4>{L_PENDING_NOTICE}</h4>
			<!-- ENDIF -->
			<fieldset>
				<dl>
					<dt class="row1" width="20%"><span class="gen">{L_VEHICLE_MAKE}</span></dt>
					<dd class="row2" align="left" nowrap="nowrap"><span class="gen">{MAKE}</span></dd>
				</dl>
				<dl>
					<dt class="row1" width="20%"><span class="gen">{L_VEHICLE_MODEL}</span></dt>
					<dd class="row2"><input name="model" type="text" class="post" size="35" value="{S_MODEL}" /></dd>
				</dl>
			</fieldset>

			<fieldset>
				<input type="hidden" value="insert_model" name="mode" /><input type="hidden" value="{MAKE_ID}" name="make_id" /><input type="hidden" value="{MAKE}" name="make" /><input type="hidden" value="{YEAR}" name="made_year" />
			</fieldset>

			<fieldset class="submit-buttons">
				<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
				<input type="submit" name="submit" value="{L_ADD_MODEL_BUTTON}" class="button1" />
			</fieldset>
		</form>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
