<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

<div id="garage-main">
<div id="cp-main">

<div class="panel">
	<!-- BEGIN business_row -->
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3><a href="{business_row.U_VIEW_BUSINESS}">{business_row.TITLE}</a></h3>
			<table width="100%" cellpadding="2" cellspacing="1" border="0" class="tablebg">
			<tbody>
				<tr>
      					<td class="row1" height="25" colspan="8" ><span class="gen"><b>{L_BUSINESS_NAME} : </b><a href="{business_row.U_VIEW_BUSINESS}">{business_row.TITLE}</a></span>
				<!-- BEGIN more_detail -->
				<span class="gensmall">{L_CLICK_FOR_MORE_DETAIL}</span>
 				<!-- END more_detail -->
				<span class="gen"><br /><b>{L_ADDRESS} : </b>{business_row.ADDRESS}<br /><b>{L_TELEPHONE} : </b>{business_row.TELEPHONE}<br /><b>{L_FAX} :</b> {business_row.FAX}<br /><b>{L_WEBSITE} : </b><a href="{business_row.WEBSITE}">{business_row.WEBSITE}</a><br /><b>{L_EMAIL} : </b>{business_row.EMAIL}<br /><b>{L_OPENING_HOURS} : </b>{business_row.OPENING_HOURS}<br /><b>{L_RATING} : </b>{business_row.RATING} {L_OUT_OF} {business_row.MAX_RATING}</span></td>
   				</tr>
			</tbody>
 			</table>

		<h3>{L_LAST_CUSTOMERS}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<!-- BEGIN customers -->
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dt>{L_OWNER}</dt>
							<dd>{L_VEHICLE}</dd>
							<dd>{L_MODIFICATION}</dd>
							<dd>{L_PURCHASE_RATING}</dd>
							<dd>{L_PRODUCT_RATING}</dd>
							<dd>{L_PRICE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist topics">
				<!-- END customers --> 				
					<!-- BEGIN mod_row -->
					<!-- IF mod_row.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dt class="row1" align="center" nowrap><span class="gensmall"><b><a href="{business_row.mod_row.U_VIEW_PROFILE}" <!-- IF business_row.mod_row.USERNAME_COLOUR --> style="color: {business_row.mod_row.USERNAME_COLOUR}"<!-- ENDIF -->>{business_row.mod_row.USERNAME}</a></b></span></td>
							<dd class="row1" align="center" nowrap><span class="gensmall"><a href="{business_row.mod_row.U_VIEW_VEHICLE}">{business_row.mod_row.VEHICLE}</a></span></td>
							<dd class="row1" align="center" nowrap><span class="gensmall"><a href="{business_row.mod_row.U_VIEW_MODIFICATION}">{business_row.mod_row.MODIFICATION}</a></span></td>
							<dd class="row1" align="center" nowrap><span class="gensmall">{business_row.mod_row.PURCHASE_RATING}</span></td>
							<dd class="row1" align="center" nowrap><span class="gensmall">{business_row.mod_row.PRODUCT_RATING}</span></td>
					<td class="row1" align="center" nowrap><span class="gensmall">{business_row.mod_row.PRICE}</span></td>
						</dl>
					</li>
					<!-- END mod_row -->
				</ul>
			</div><span class="corners-bottom"><span></span></span>
		</div>

 		<!-- BEGIN comments -->
		<h3>{L_COMMENTS}</h3>
		<!-- END comments -->
 		<!-- BEGIN customer_comments -->
		<span class="gensmall">{business_row.customer_comments.COMMENTS}</span>
		<!-- END customer_comments -->

		<span class="corners-bottom"><span></span></span>
	</div>
	<!-- END business_row -->
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- IF PAGINATION or TOTAL_BUSINESS -->
		<div class="pagination">
			{TOTAL_BUSINESS}
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
		<!-- ENDIF -->
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
