<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

<script type="text/javascript">
<!--

function confirm_delete_vehicle(car_id)
{
	if ( confirm("{L_CONFIRM_DELETE_VEHICLE}") )
	{

		window.location.href = "{U_DELETE_VEHICLE2}&VID=" + car_id;
	}
}

function confirm_delete_mod (car_id, mod_id)
{
	if ( confirm("{L_CONFIRM_DELETE_MODIFICATION}") )
	{
		window.location.href = "{U_DELETE_MODIFICATION}&MID=" + mod_id + "&VID=" + car_id;
	}
}

function confirm_delete_insurance (car_id, ins_id)
{
	if ( confirm("{L_CONFIRM_DELETE_PREMIUM}") )
	{
		window.location.href = "{U_DELETE_PREMIUM}&INS_ID=" + ins_id + "&VID=" + car_id;
	}
}

function confirm_delete_quartermile (car_id, qm_id)
{
	if ( confirm("{L_CONFIRM_DELETE_QUARTERMILE}") )
	{
		window.location.href = "{U_DELETE_QUARTERMILE}&QMID=" + qm_id + "&VID=" + car_id;
	}
}

function confirm_delete_dynorun (car_id, did)
{
	if ( confirm("{L_CONFIRM_DELETE_DYNORUN}") )
	{
		window.location.href = "{U_DELETE_DYNORUN}&DID=" + did + "&VID=" + car_id;
	}
}

function confirm_delete_lap (car_id, lid)
{
	if ( confirm("{L_CONFIRM_DELETE_LAP}") )
	{
		window.location.href = "{U_DELETE_LAP}&LID=" + lid + "&VID=" + car_id;
	}
}

function confirm_delete_service (car_id, svid)
{
	if ( confirm("{L_CONFIRM_DELETE_SERVICE}") )
	{
		window.location.href = "{U_DELETE_SERVICE}&SVID=" + svid + "&VID=" + car_id;
	}
}

function jumpto_garage()
{
	var page = prompt('{LA_JUMP_PAGE}:', '{ON_PAGE}');
	var perpage = '{PER_PAGE}';
	var base_url = '{BASE_URL}';
	var hash_location = '#' + '{HASH_LOCATION}';

	if (page !== null && !isNaN(page) && page > 0)
	{
		document.location.href = base_url.replace(/&amp;/g, '&') + '&start=' + ((page - 1) * perpage) + hash_location;
	}
}

//-->
</script>

<div id="garage-main">
<div id="cp-main">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{YEAR}&nbsp;{MAKE}&nbsp;{MODEL}</h3>
		    					<!-- IF ! U_VIEW_VEHICLE -->
		    					<tr>
   								<dd class="row1"><span class="gen"><strong>{L_OWNER}</strong></span></td>
		    					</tr>
                    					<tr>
								<td align="center">{AVATAR_IMG}<br /><span class="gen"><strong><a href="{U_PROFILE}" <!-- IF USERNAME_COLOUR --> style="color: {USERNAME_COLOUR}"<!-- ENDIF -->>{USERNAME}</a></strong></span></td>
		   					</tr>
							<!-- IF U_HILITE_IMAGE -->
							<tr>
    								<td class="row1"><span class="gen"><strong>{L_HILITE_IMAGE}</strong></span></td>
	           					</tr>
							<tr>
                        					<td align="center"><a href="{U_HILITE_IMAGE}" title="{HILITE_IMAGE_TITLE}" target="_blank"><img hspace="5" vspace="5" src="{HILITE_IMAGE}" /></a><br /><span class="gensmall">{L_TOTAL_VIEWS}: {TOTAL_IMAGE_VIEWS}</span></td>
                    					</tr>
							<!-- ENDIF -->
			                                <tr>
				                        	<dd class="row1"><span class="gen"><strong>{L_DESCRIPTION}</strong></span></td>
                                   			</tr> 
			                                <tr>
				                        	<td align="center"><span class="gen">{DESCRIPTION}</span></td>
							</tr> 
							<!-- ENDIF -->
							<!-- IF U_MODERATE_VEHICLE -->
							<tr>
								<td align="center"><span class="gen"><a href="{U_MODERATE_VEHICLE}">{MODERATE_VEHICLE}</a></span></td>
							</tr>
							<!-- ENDIF -->
							<!-- IF U_VIEW_VEHICLE -->
								<dd>
									<ul class="manage-vehicle-icons">
									<li></li>&nbsp;
									<!-- IF U_VIEW_VEHICLE --><li class="viewvehicle-icon"><a href="{U_VIEW_VEHICLE}" title="{L_VIEW_VEHICLE}"></a></li>&nbsp;<!-- ENDIF -->
									<!-- IF U_EDIT_VEHICLE --><li class="editvehicle-icon"><a href="{U_EDIT_VEHICLE}" title="{L_EDIT_VEHICLE}"></a></li>&nbsp;<!-- ENDIF -->
									<!-- IF U_DELETE_VEHICLE --><li class="deletevehicle-icon"><a href="{U_DELETE_VEHICLE}" title="{L_DELETE_VEHICLE}"></a></li>&nbsp;<!-- ENDIF -->
									<!-- IF U_ADD_MODIFICATION --><li class="newmodification-icon"><a href="{U_ADD_MODIFICATION}" title="{L_ADD_MODIFICATION}"></a></li>&nbsp;<!-- ENDIF -->
									<!-- IF U_ADD_INSURANCE --><li class="newpremium-icon"><a href="{U_ADD_INSURANCE}" title="{L_ADD_INSURANCE}"></a></li>&nbsp;<!-- ENDIF -->
									<!-- IF U_ADD_QUARTERMILE --><li class="newquartermile-icon"><a href="{U_ADD_QUARTERMILE}" title="{L_ADD_QUARTERMILE}"></a></li>&nbsp;<!-- ENDIF -->
									<!-- IF U_ADD_DYNORUN --><li class="newdynorun-icon"><a href="{U_ADD_DYNORUN}" title="{L_ADD_DYNORUN}"></a></li>&nbsp;<!-- ENDIF -->
									<!-- IF U_ADD_LAP --><li class="newlap-icon"><a href="{U_ADD_LAP}" title="{L_ADD_LAP}"></a></li>&nbsp;<!-- ENDIF -->
									<!-- IF U_ADD_SERVICE --><li class="newservice-icon"><a href="{U_ADD_SERVICE}" title="{L_ADD_SERVICE}"></a></li>&nbsp;<!-- ENDIF -->
									<!-- IF U_SET_MAIN_VEHICLE --><li class="mainvehicle-icon"><a href="{U_SET_MAIN_VEHICLE}" title="{L_SET_MAIN_VEHICLE}"></a></li>&nbsp;<!-- ENDIF -->
									</ul>
								<dd>

									<br />
									<!-- IF U_HILITE_IMAGE -->
									<span class="gen"><a href="{U_HILITE_IMAGE}" title="{HILITE_IMAGE_TITLE}" target="_blank"><img hspace="5" vspace="5" src="{HILITE_IMAGE}" /></a>
									<br /></span><span class="gensmall">{L_TOTAL_VIEWS}:&nbsp;{TOTAL_IMAGE_VIEWS}</span>
									<!-- ENDIF -->
                        					</td>
							<!-- ENDIF -->
            				</dl>
            				<dl>
                        				<dd class="row1" ><span class="gen"><strong>{L_VEHICLE}</strong></span></td>
                        				<td><span class="gen">{YEAR}&nbsp;{MAKE}&nbsp;{MODEL}</span></td>
                        				<td class="row1" ><span class="gen"><strong>{L_COLOUR}</strong></span></td>
                        				<td><span class="gen">{COLOUR}</span></td>
                        				<td class="row1" ><span class="gen"><strong>{L_UPDATED}</strong></span></td>
                        				<td><span class="gen">{DATE_UPDATED}</span></td>
                        				<td class="row1" ><span class="gen"><strong>{L_MILEAGE}</strong></span></td>
                        				<td><span class="gen">{MILEAGE}&nbsp;{MILEAGE_UNITS}</span></td>
                        				<td class="row1" ><span class="gen"><strong>{L_PRICE}</strong></span></td>
                        				<td><span class="gen">{PRICE}&nbsp;{CURRENCY}</span></td>
                        				<td class="row1" ><span class="gen"><strong>{L_TOTAL_MODS}</strong></span></td>
                        				<td><span class="gen">{TOTAL_MODS}</span></td>
                        				<td class="row1" ><span class="gen"><strong>{L_TOTAL_SPENT}</strong></span></td>
                        				<td><span class="gen">{TOTAL_SPENT}&nbsp;{CURRENCY}</span></td>
                        					<td class="row1" ><span class="gen"><strong>{L_TOTAL_VIEWS}</strong></span></td>
                        					<td><span class="gen">{TOTAL_VIEWS}</span></td>
                    					</tr>
            	    					<tr>
                        					<td class="row1" valign="top" nowrap="nowrap"><span class="gen"><strong>{L_VEHICLE_RATING}</strong></span></td>
                        					<td width="95%"><span class="gen">{RATING}</span></td>
							</tr>
							<!-- BEGIN custom_vehicle_fields -->
								<br /><strong>{custom_vehicle_fields.PROFILE_FIELD_NAME}:</strong> {custom_vehicle_fields.PROFILE_FIELD_VALUE}
							<!-- END custom_vehicle_fields -->
							<!-- IF ! S_DISPLAY_VEHICLE_OWNER -->
            	    					<tr>
                        					<td class="row1"  valign="top" ><span class="gen"><strong>{L_PLEASE_RATE}</strong></span></td>
                        					<td width="85%"><select id="vehicle_rating" name="vehicle_rating"><option value="">{L_SELECT_RATING}</option><option value="">------</option><!-- BEGIN rating --><option value="{rating.VALUE}" <!-- IF rating.S_SELECTED -->selected="selected"<!-- ENDIF -->>{rating.TEXT}</option><!-- END rating --></select>&nbsp;<input type="hidden" value="rate_vehicle" name="mode" /><input type="hidden" value="{VID}" name="VID" />
								<!-- IF S_DISPLAY_RATE -->
								<input name="submit" type="submit" value="{L_RATE}" class="liteoption" />
								<!-- ENDIF rate -->
								<span class="gensmall"><i> {L_RATING_NOTICE}</i></span></td>
                    					</tr>
							<!-- ENDIF -->
                			</dl>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div id="advanced00">
			<div id="tabs">
				<ul>
					<!-- IF S_DISPLAY_IMAGE_TAB --><li class="garage_preset_yes" id="tab000"><a href="#images" onclick="swap_options('0','0','0');"><span class="tabbg">{L_IMAGES}</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_MODIFICATION_TAB --><li class="garage_preset_yes" id="tab001"><a href="#modifications" onclick="swap_options('0','0','1');"><span class="tabbg">{L_MODIFICATIONS}</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_QUARTERMILE_TAB --><li class="garage_preset_yes" id="tab002"><a href="#quartermiles" onclick="swap_options('0','0','2');"><span class="tabbg">&frac14; Miles</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_DYNORUN_TAB --><li class="garage_preset_yes" id="tab003"><a href="#dynoruns" onclick="swap_options('0','0','3');"><span class="tabbg">Dynoruns</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_LAP_TAB --><li class="garage_preset_yes" id="tab004"><a href="#laps" onclick="swap_options('0','0','4');"><span class="tabbg">Laps</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_PREMIUM_TAB --><li class="garage_preset_yes" id="tab005"><a href="#premiums" onclick="swap_options('0','0','5');"><span class="tabbg">Premiums</span></a></li><!-- ENDIF -->	
					<!-- IF S_DISPLAY_SERVICE_TAB --><li class="garage_preset_yes" id="tab006"><a href="#services" onclick="swap_options('0','0','6');"><span class="tabbg">Services</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_BLOG_TAB --><li class="garage_preset_yes" id="tab007"><a href="#blog" onclick="swap_options('0','0','7');"><span class="tabbg">Blog</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_GUESTBOOK_TAB --><li class="garage_preset_yes" id="tab008"><a href="#guestbook" onclick="swap_options('0','0','8');"><span class="tabbg">Guestbook</span></a></li>	<!-- ENDIF -->
				</ul>
			</div>

	

			<div class="garage_panel bg3" id="options000" style="display: none;">
			<div class="tablewrap">
				<!-- IF S_DISPLAY_GALLERIES -->
				<div class="panel">
					<div class="inner"><span class="corners-top"><span></span></span>
						<!-- IF S_DISPLAY_VEHICLE_IMAGES -->
						<h3>{L_VEHICLE_PICTURES}</h3>
						<div class="garage-image-gallery">
							<!-- BEGIN vehicle_image -->
							<a href="{vehicle_image.U_IMAGE}"><img hspace="5" vspace="5" name="{vehicle_image.IMAGE_NAME}" src="{vehicle_image.IMAGE_SOURCE}" /></a>
							<!-- END vehicle_image -->
						</div>
						<!-- ENDIF -->
						<!-- IF S_DISPLAY_MODIFICATION_IMAGES -->
						<h3>{L_MODIFICATION_PICTURES}</h3>
						<div class="garage-image-gallery">
							<!-- BEGIN modification_image -->
							<a href="{modification_image.U_IMAGE}"><img hspace="5" vspace="5" name="{modification_image.IMAGE_NAME}" src="{modification_image.IMAGE_SOURCE}" /></a>
							<!-- END modification_image -->
						</div>
						<!-- ENDIF -->
						<!-- IF S_DISPLAY_QUARTERMILE_IMAGES -->
						<h3>{L_QUARTERMILE_PICTURES}</h3>
						<div class="garage-image-gallery">
							<!-- BEGIN quartermile_image -->
							<a href="{quartermile_image.U_IMAGE}"><img hspace="5" vspace="5" name="{quartermile_image.IMAGE_NAME}" src="{quartermile_image.IMAGE_SOURCE}" /></a>
							<!-- END quartermile_image -->
				    		</div>
						<!-- ENDIF -->
						<!-- IF S_DISPLAY_DYNORUN_IMAGES -->
						<h3>{L_DYNORUN_PICTURES}</h3>
						<div class="garage-image-gallery">
							<!-- BEGIN dynorun_image -->
							<a href="{dynorun_image.U_IMAGE}"><img hspace="5" vspace="5" name="{dynorun_image.IMAGE_NAME}" src="{dynorun_image.IMAGE_SOURCE}" /></a>
							<!-- END dynorun_image -->
						</div>
						<!-- ENDIF -->
						<!-- IF S_DISPLAY_LAP_IMAGES -->
						<h3>{L_LAP_PICTURES}</h3>
						<div class="garage-image-gallery">
							<!-- BEGIN lap_image -->
							<a href="{lap_image.U_IMAGE}"><img hspace="5" vspace="5" name="{lap_image.IMAGE_NAME}" src="{lap_image.IMAGE_SOURCE}" /></a>
							<!-- END lap_image -->
						</div>
						<!-- ENDIF -->
					</div><span class="corners-bottom"><span></span></span>
				</div>
				<!-- ENDIF -->
			</div>
			</div>

			<div class="garage_panel" id="options001" style="display: none;">
			<div class="tablewrap">
				<!-- BEGIN category -->
				<h3>{category.CATEGORY_TITLE}&nbsp;{L_MODIFICATIONS}</h3>
				<div class="forabg">
					<div class="inner"><span class="corners-top"><span></span></span>
						<ul class="topiclist">
							<li class="header">
								<dl>
									<dt></dt>
									<dd>{L_MODIFICATION}</dd>
									<dd>{L_RATING}</dd>
									<dd>{L_COST}</dd>
									<dd>{L_INSTALL}</dd>
									<dd>{L_CREATED}</dd>
									<dd>{L_UPDATED}</dd>
									<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd></dd><!-- ENDIF -->
								</dl>
							</li>
						</ul>
						<ul class="topiclist topics">
							<!-- BEGIN modification -->
							<!-- IF modification.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
								<dl>
									<dt><!-- IF category.modification.U_IMAGE --><div class="buttons"><div class="garage-camera-icon"><a href="{category.modification.U_IMAGE}"></a></div></div><!-- ENDIF --></dt>
									<dd>{category.modification.MODIFICATION}</dd>
									<dd>{category.modification.RATING}</dd>
									<dd>{category.modification.COST}</dd>
									<dd>{category.modification.INSTALL}</dd>
									<dd>{category.modification.CREATED}</dd>
									<dd>{category.modification.UPDATED}</dd>
									<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd><!-- IF category.modification.U_EDIT --><div class="buttons"><div class="garage-edit-icon"><a href="{category.modification.U_EDIT}"></a></div></div><!-- ENDIF -->&nbsp;<!-- IF category.modification.U_DELETE--><div class="buttons"><div class="garage-delete-icon"><a href="{category.modification.U_DELETE}"></a></div></div><!-- ENDIF --></dd><!-- ENDIF -->
								</dl>
							</li>
							<!-- END modification -->
						</ul>
					</div><span class="corners-bottom"><span></span></span>
				</div>
				<!-- END category -->
			</div>
			</div>
			
			<div class="garage_panel" id="options002" style="display: none;">
			<div class="tablewrap">
				<!-- BEGIN quartermile -->
				<h3>{L_QUARTER_MILE_TIMES}</h3>
				<div class="forabg">
					<div class="inner"><span class="corners-top"><span></span></span>
						<ul class="topiclist">
							<li class="header">
								<dl>
									<dt></dt>
									<dd>{L_RT}</dd>
									<dd>{L_SIXTY}</dd>
									<dd>{L_THREE}</dd>
									<dd>{L_EIGHTH}</dd>
									<dd>{L_EIGHTHMPH}</dd>
									<dd>{L_THOU}</dd>
									<dd>{L_QUART}</dd>
									<dd>{L_QUARTMPH}</dd>
									<!-- IF S_DISPLAY_VEHICLE_OWNER --><dd></dd><!-- ENDIF -->
								</dl>
							</li>
						</ul>
						<ul class="topiclist topics">
							<!-- BEGIN run -->
							<!-- IF run.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
								<dl>
									<dt><!-- IF quartermile.run.U_IMAGE --><div class="buttons"><div class="garage-camera-icon"><a href="{quartermile.run.U_IMAGE}"></a></div></div><!-- ENDIF --></dt>
						  			<dd>{quartermile.run.RT}</dd>
						  			<dd>{quartermile.run.SIXTY}</dd>
									<dd>{quartermile.run.THREE}</dd>
									<dd>{quartermile.run.EIGHTH}</dd>
									<dd>{quartermile.run.EIGHTHMPH}</dd>
									<dd>{quartermile.run.THOU}</dd>
									<dd><a href="{quartermile.run.U_QUART}">{quartermile.run.QUART}</a></dd>
									<dd>{quartermile.run.QUARTMPH}</dd>
									<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd><!-- IF quartermile.run.U_EDIT --><div class="buttons"><div class="garage-edit-icon"><a href="{quartermile.run.U_EDIT}"></a></div></div><!-- ENDIF -->&nbsp;<!-- IF quartermile.run.U_DELETE--><div class="buttons"><div class="garage-delete-icon"><a href="{quartermile.run.U_DELETE}"></a></div></div><!-- ENDIF --></dd><!-- ENDIF -->
								</dl>
							</li>
							<!-- END run -->
						</ul>
					</div><span class="corners-bottom"><span></span></span>
				</div>
				<!-- END quartermile -->
			</div>
			</div>

			<div class="garage_panel" id="options003" style="display: none;">
			<div class="tablewrap">
				<!-- BEGIN dynorun -->
				<h3>{L_DYNORUNS}</h3>
				<div class="forabg">
					<div class="inner"><span class="corners-top"><span></span></span>
						<ul class="topiclist">
							<li class="header">
								<dl>
									<dt></dt>
									<dd>{L_DYNOCENTRE}</dd>
									<dd>{L_BHP}</dd>
									<dd>{L_BHP_UNIT}</dd>
									<dd>{L_TORQUE}</dd>
									<dd>{L_TORQUE_UNIT}</dd>
									<dd>{L_BOOST}</dd>
									<dd>{L_BOOST_UNIT}</dd>
									<dd>{L_NITROUS}</dd>
									<dd>{L_PEAKPOINT}</dd>
									<!-- IF S_DISPLAY_VEHICLE_OWNER --><dd></dd><!-- ENDIF -->
								</dl>
							</li>
						</ul>
						<ul class="topiclist topics">
							<!-- BEGIN run -->
							<!-- IF run.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
								<dl>
									<dt><!-- IF dynorun.run.U_IMAGE --><div class="buttons"><div class="garage-camera-icon"><a href="{dynorun.run.U_IMAGE}"></a></div></div><!-- ENDIF --></dt>
									<dd>{dynorun.run.DYNOCENTER}</dd>
									<dd><a href="{dynorun.run.U_BHP}">{dynorun.run.BHP}</a></dd>
									<dd>{dynorun.run.BHP_UNIT}</dd>
									<dd>{dynorun.run.TORQUE}</dd>
									<dd>{dynorun.run.TORQUE_UNIT}</dd>				
									<dd>{dynorun.run.BOOST}</dd>
									<dd>{dynorun.run.BOOST_UNIT}</dd>
									<dd>{dynorun.run.NITROUS}</dd>
									<dd>{dynorun.run.PEAKPOINT}</dd>
									<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd><!-- IF dynorun.run.U_EDIT --><div class="buttons"><div class="garage-edit-icon"><a href="{dynorun.run.U_EDIT}"></a></div></div><!-- ENDIF -->&nbsp;<!-- IF dynorun.run.U_DELETE--><div class="buttons"><div class="garage-delete-icon"><a href="{dynorun.run.U_DELETE}"></a></div></div><!-- ENDIF --></dd><!-- ENDIF -->
								</dl>
							</li>
							<!-- END run -->
						</ul>
					</div><span class="corners-bottom"><span></span></span>
				</div>
				<!-- END dynorun -->
			</div>
			</div>

			<div class="garage_panel" id="options004" style="display: none;">
			<div class="tablewrap">
				<!-- BEGIN tracktime -->
				<h3>{L_LAPS}</h3>
				<div class="forabg">
					<div class="inner"><span class="corners-top"><span></span></span>
						<ul class="topiclist">
							<li class="header">
								<dl>
									<dt></dt>
									<dd>{L_TRACK}</dd>
									<dd>{L_CONDITION}</dd>
									<dd>{L_TYPE}</dd>
									<dd>{L_TIME}&nbsp;<span class="gensmall">(M:S:MS)</span></dd>
									<!-- IF S_DISPLAY_VEHICLE_OWNER --><dd></dd><!-- ENDIF -->
								</dl>
							</li>
						</ul>
						<ul class="topiclist topics">
							<!-- BEGIN lap -->
							<!-- IF lap.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
								<dl>
									<dt><!-- IF tracktime.lap.U_IMAGE --><div class="buttons"><div class="garage-camera-icon"><a href="{tracktime.lap.U_IMAGE}"></a></div></div><!-- ENDIF --></td>
									<dd><a href="{tracktime.lap.U_TRACK}">{tracktime.lap.TRACK}</a></dd>
									<dd>{tracktime.lap.CONDITION}</dd>
									<dd>{tracktime.lap.TYPE}</dd>
									<dd><a href="{tracktime.lap.U_LAP}">{tracktime.lap.MINUTE}.{tracktime.lap.SECOND}.{tracktime.lap.MILLISECOND}</a></dd>
									<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd><!-- IF tracktime.lap.U_EDIT --><div class="buttons"><div class="garage-edit-icon"><a href="{tracktime.lap.U_EDIT}"></a></div></div><!-- ENDIF -->&nbsp;<!-- IF tracktime.lap.U_DELETE--><div class="buttons"><div class="garage-delete-icon"><a href="{tracktime.lap.U_DELETE}"></a></div></div><!-- ENDIF --></dd><!-- ENDIF -->
								</dl>
							</li>
							<!-- END lap -->
						</ul>
					</div><span class="corners-bottom"><span></span></span>
				</div>
			<!-- END tracktime -->
			</div>
			</div>

			<div class="garage_panel" id="options005" style="display: none;">
			<div class="tablewrap">
				<!-- BEGIN insurance -->
				<h3>{L_INSURANCE_PREMIUMS}</h3>
				<div class="forabg">
					<div class="inner"><span class="corners-top"><span></span></span>
						<ul class="topiclist">
							<li class="header">
								<dl>
									<dt>{L_INSURANCE_COMPANY}</dt>
									<dd>{L_PREMIUM}</dd>
									<dd>{L_COVER_TYPE}</dd>
									<!-- IF S_DISPLAY_VEHICLE_OWNER --><dd></dd><!-- ENDIF -->
								</dl>
							</li>
						</ul>
						<ul class="topiclist topics">
							<!-- BEGIN premium -->
							<!-- IF premium.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
								<dl>
									<dt><a href="{insurance.premium.U_INSURER}">{insurance.premium.INSURER}</a></dt>
					  				<dd>{insurance.premium.PREMIUM}</dd>
									<dd>{insurance.premium.COVER_TYPE}</dd>
									<!-- IF S_DISPLAY_VEHICLE_OWNER --><dd><!-- IF insurance.premium.U_EDIT --><div class="buttons"><div class="garage-edit-icon"><a href="{insurance.premium.U_EDIT}"></a></div><div><!-- ENDIF -->&nbsp;<!-- IF insurance.premium.U_DELETE--><div class="buttons"><div class="garage-delete-icon"><a href="{insurance.premium.U_DELETE}"></a></div></div><!-- ENDIF --></dd><!-- ENDIF -->
								</dl>
							</li>
							<!-- END premium -->
						</ul>
					</div><span class="corners-bottom"><span></span></span>
				</div>
			<!-- END insurance -->
			</div>
			</div>

			<div class="garage_panel" id="options006" style="display: none;">
			<div class="tablewrap">
				<!-- BEGIN service_history -->
				<h3>{L_SERVICE_HISTORY}</h3>
				<div class="forabg">
					<div class="inner"><span class="corners-top"><span></span></span>
						<ul class="topiclist">
							<li class="header">
								<dl>
									<dt>{L_GARAGE}</dt>
									<dd>{L_TYPE}</dd>
									<dd>{L_COST}</dd>
									<dd>{L_RATING}</dd>
									<dd>{L_MILEAGE}</dd>
									<!-- IF S_DISPLAY_VEHICLE_OWNER --><dd></dd><!-- ENDIF -->
								</dl>
							</li>
						</ul>
						<ul class="topiclist topics">
							<!-- BEGIN service -->
							<!-- IF service.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
								<dl>
									<dt><a href="{service_history.service.U_GARAGE}">{service_history.service.TITLE}</a></dt>
	  								<dd>{service_history.service.TYPE}</dd>
									<dd>{service_history.service.PRICE}</dd>
									<dd>{service_history.service.RATING}</dd>
									<dd>{service_history.service.MILEAGE}</dd>
									<!-- IF S_DISPLAY_VEHICLE_OWNER --><dd><!-- IF service_history.service.U_EDIT --><div class="buttons"><div class="garage-edit-icon"><a href="{service_history.service.U_EDIT}"></a></div></div><!-- ENDIF -->&nbsp;<!-- IF service_history.service.U_DELETE--><div class="buttons"><div class="garage-delete-icon"><a href="{service_history.service.U_DELETE}"></a></div></div><!-- ENDIF --></span></dt><!-- ENDIF -->
								</dl>
							</li>
							<!-- END service -->
						</ul>
					</div><span class="corners-bottom"><span></span></span>
				</div>
			<!-- END service_history -->
			</div>
			</div>

			<div class="garage_panel" id="options007" style="display: none;">
			<div class="tablewrap">
			<!-- BEGIN blog -->
			<form method="post" name="guestbook" action="{S_MODE_BLOG_ACTION}">
			<table width="100%" cellspacing="1" cellpadding="3" border="0" class="tablebg">
				<tr>
					<th height="25" nowrap="nowrap" colspan="5">{L_BLOG}</th>
				</tr>
				<!-- IF S_DISPLAY_ENTRY_BLOG -->
				<tr>
					<td class="cat" align="center" height="28" colspan="5"><span class="gen">{L_ADD_BLOG}</span></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen">{L_BLOG_HEADER}</span></td>
					<td class="row2" colspan="1"><input name="blog_title" type="text" class="post" size="60" value="{}" /></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen">{L_ADD_BLOG}</span></td>
					<td class="row2" colspan="1"><textarea name="blog_text" cols="70" rows="6" wrap="soft" class="post">{}</textarea></td>
				</tr>
				<tr>
					<td class="cat" align="center" height="28" colspan="5"><input type="hidden" value="{VID}" name="VID" /><input name="submit" type="submit" class="liteoption" value="{L_ADD_BLOG}"/></td>
				</tr>
				<!-- ENDIF -->
				<!-- BEGIN entry -->
				<tr>
					<td class="row1" colspan="2"><h3>{blog.entry.BLOG_TITLE}</h3>{blog.entry.BLOG_DATE}<br /><br />{blog.entry.BLOG_TEXT}</td>
				</tr>
				<!-- BEGINELSE -->
				<tr>
					<td class="row1" align="center" height="28" colspan="5"><span class="gen">{L_ADD_FIRST_BLOG}</span></td>
				</tr>
				<!-- END entry -->
			</table>

			<table width="100%" cellspacing="1">
			<tr>
				<!-- IF TOTAL_BLOGS -->
					<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
					<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_BLOGS} ]&nbsp;</td>
					<td class="gensmall" width="100%" align="right" nowrap="nowrap"><!-- INCLUDE garage_pagination.html --></td>
				<!-- ENDIF -->
			</tr>
			</table>

			</form>
			<!-- END blog -->
			</div>
			</div>

			<div class="garage_panel" id="options008" style="display: none;">
			<div class="tablewrap">
			<!-- BEGIN guestbook -->
			<form method="post" name="guestbook" action="{S_MODE_GUESTBOOK_ACTION}">
			<table width="100%" cellspacing="1" cellpadding="3" border="0" class="tablebg">
			<!-- BEGIN comments -->
			<!-- IF guestbook.comments.S_FIRST_ROW -->
				<tr>
					<th>{L_AUTHOR}</th>
					<th>{L_MESSAGE}</th>
				</tr>
				<!-- ENDIF -->
				<!-- IF guestbook.comments.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

				<!-- IF guestbook.comments.S_IGNORE_POST -->
						<td class="gensmall" colspan="2" height="25" align="center"><!-- IF guestbook.comments.S_FIRST_UNREAD --><a name="unread"></a><!-- ENDIF --><a name="p{guestbook.comments.POST_ID}"></a>{guestbook.comments.L_IGNORE_POST}</td>
				<!-- ELSE -->

						<td align="center" valign="middle">
							<b class="postauthor" <!-- IF guestbook.comments.POST_AUTHOR_COLOUR -->style="color: {guestbook.comments.POST_AUTHOR_COLOUR}"<!-- ENDIF -->>{guestbook.comments.POST_AUTHOR}</strong>
						</td>
						<td width="100%" height="25">
							<table width="100%" cellspacing="0">
							<tr>
							<!-- IF guestbook.comments.POST_ICON_IMG -->
								<td><img src="{T_ICONS_PATH}{guestbook.comments.POST_ICON_IMG}" width="{guestbook.comments.POST_ICON_IMG_WIDTH}" height="{guestbook.comments.POST_ICON_IMG_HEIGHT}" alt="" title="" /></td>
							<!-- ENDIF -->
								<td class="gensmall" width="100%"><div style="float:right"><a href="{guestbook.comments.U_MINI_POST}">{guestbook.comments.MINI_POST_IMG}</a><strong>{L_POSTED}:</strong> {guestbook.comments.POST_DATE}&nbsp;</div></td>
							</tr>
							</table>
						</td>
					</tr>
		
					<!-- IF guestbook.comments.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

						<td valign="top">
							<table cellspacing="4" align="center" width="150">
						<!-- IF guestbook.comments.ONLINE_IMG -->
							<tr>
								<td>{guestbook.comments.ONLINE_IMG}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF guestbook.comments.RANK_TITLE -->
				<tr>
					<td class="postdetails">{guestbook.comments.RANK_TITLE}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF guestbook.comments.RANK_IMG -->
				<tr>
					<td>{guestbook.comments.RANK_IMG}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF guestbook.comments.POSTER_AVATAR -->
				<tr>
					<td>{guestbook.comments.POSTER_AVATAR}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF guestbook.comments.U_VEHICLE -->
				<tr>
					<td class="postdetails"><a href={guestbook.comments.U_VEHICLE}>{guestbook.comments.POSTER_CAR_YEAR} {guestbook.comments.POSTER_CAR_MARK} {guestbook.comments.POSTER_CAR_MODEL}</a></td>
				</tr>
			<!-- ENDIF -->
				</table>

				<span class="postdetails">
					<!-- IF guestbook.comments.POSTER_JOINED --><br /><strong>{L_JOINED}:</strong> {guestbook.comments.POSTER_JOINED}<!-- ENDIF -->
					<!-- IF guestbook.comments.POSTER_POSTS != '' --><br /><strong>{L_POSTS}:</strong> {guestbook.comments.POSTER_POSTS}<!-- ENDIF -->
					<!-- IF guestbook.comments.POSTER_FROM --><br /><strong>{L_LOCATION}:</strong> {guestbook.comments.POSTER_FROM}<!-- ENDIF -->

					<!-- BEGIN custom_fields -->
						<br /><strong>{guestbook.comments.custom_fields.PROFILE_FIELD_NAME}:</strong> {guestbook.comments.custom_fields.PROFILE_FIELD_VALUE}
					<!-- END custom_fields -->
				</span>

			</td>
			<td valign="top">
				<table width="100%" cellspacing="5">
				<tr>
					<td>
						<div class="postbody">{guestbook.comments.MESSAGE}</div>

					<!-- IF guestbook.comments.SIGNATURE -->
						<span class="postbody"><br />_________________<br />{guestbook.comments.SIGNATURE}</span>
					<!-- ENDIF -->

					<!-- IF not guestbook.comments.S_HAS_ATTACHMENTS --><br clear="all" /><br /><!-- ENDIF -->
									<table width="100%" cellspacing="0">
									<tr valign="middle">
										<td class="gensmall" align="right">
										<!-- IF not S_IS_BOT -->
											<!-- IF guestbook.comments.U_INFO --><a href="{guestbook.comments.U_INFO}">{INFO_IMG}</a> <!-- ENDIF --> 
											<!-- IF guestbook.comments.U_WARN --><a href="{guestbook.comments.U_WARN}">{WARN_IMG}</a> <!-- ENDIF --> 
											<!-- IF guestbook.comments.U_DELETE --><a href="{guestbook.comments.U_DELETE}">{DELETE_IMG}</a> <!-- ENDIF -->
										<!-- ENDIF -->
										</td>
									</tr>
									</table>
								</td>
							</tr>
							</table>
						</td>
					</tr>

					<!-- IF guestbook.comments.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

						<td nowrap="nowrap">&nbsp;</td>
						<td><div class="gensmall" style="float: left;">&nbsp;<!-- IF guestbook.comments.U_PROFILE --><a href="{guestbook.comments.U_PROFILE}">{PROFILE_IMG}</a> <!-- ENDIF --> <!-- IF guestbook.comments.U_PM --><a href="{guestbook.comments.U_PM}">{PM_IMG}</a> <!-- ENDIF --> <!-- IF guestbook.comments.U_EMAIL --><a href="{guestbook.comments.U_EMAIL}">{EMAIL_IMG}</a> <!-- ENDIF -->&nbsp;</div> <div class="gensmall" style="float:right"><!-- IF not S_IS_BOT --><!-- IF guestbook.comments.U_EDIT --><a href="{guestbook.comments.U_EDIT}">{EDIT_IMG}</a> <!-- ENDIF --> <!-- IF guestbook.comments.U_QUOTE --><a href="{guestbook.comments.U_QUOTE}">{QUOTE_IMG}</a> <!-- ENDIF --> <!-- ENDIF -->&nbsp;</div></td>
					</tr>

				<!-- ENDIF -->
	
				<tr>
					<td class="spacer" colspan="2" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
				</tr>
				<!-- BEGINELSE -->
				<tr>
					<td class="row1" align="center" height="28" colspan="5"><span class="gen">{L_ADD_FIRST_COMMENT}</span></td>
				</tr>
				<!-- END comments -->

				<!-- IF S_DISPLAY_LEAVE_COMMENT -->
				<tr>
					<td class="cat" align="center" height="28" colspan="5"><span class="gen">{L_ADD_COMMENT}</span></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen">{L_ADD_COMMENT}</span></td>
					<td class="row2" colspan="4"><textarea name="comments" cols="70" rows="7" wrap="soft" class="post">{COMMENTS}</textarea></td>
				</tr>
				<tr>
					<td class="cat" align="center" height="28" colspan="5"><input type="hidden" value="insert_comment" name="mode" /><input type="hidden" value="{VID}" name="VID" /><input name="submit" type="submit" value="{L_POST_COMMENT}" class="liteoption" /></td>
				</tr>
				<!-- ENDIF -->
			</table>

			<table width="100%" cellspacing="1">
			<tr>
				<!-- IF TOTAL_COMMENTS -->
					<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
					<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_COMMENTS} ]&nbsp;</td>
					<td class="gensmall" width="100%" align="right" nowrap="nowrap"><!-- INCLUDE garage_pagination.html --></td>
				<!-- ENDIF -->
			</tr>
			</table>

			</form>
			<!-- END guestbook -->
			</div>
			</div>
		
			</div>
		</div>
	<span class="corners-bottom"><span></span></span>
</div>

<script type="text/javascript">
<!--
	var lowest_tab = '{S_LOWEST_TAB_AVAILABLE}';
	var active_pmask = '0';
	var active_fmask = '0';
	if (document.location.hash == "")
	{
		active_cat = lowest_tab;
		dE('options00' + lowest_tab , 0)
		var active_tab = document.getElementById("tab00" + lowest_tab);
	}
	else if (document.location.hash == "#images")
	{
		active_cat = '0';
		dE('options000', 0)
		var active_tab = document.getElementById("tab000");
	}
	else if (document.location.hash == "#modifications")
	{
		active_cat = '1';
		dE('options001', 0)
		var active_tab = document.getElementById("tab001");
	}
	else if (document.location.hash == "#quartermiles")
	{
		active_cat = '2';
		dE('options002', 0)	
		var active_tab = document.getElementById("tab002");
	}
	else if (document.location.hash == "#dynoruns")
	{
		active_cat = '3';
		dE('options003', 0)
		var active_tab = document.getElementById("tab003");
	}
	else if (document.location.hash == "#laps")
	{
		active_cat = '4';
		dE('options004', 0)
		var active_tab = document.getElementById("tab004");
	}
	else if (document.location.hash == "#premiums")
	{
		active_cat = '5';
		dE('options005', 0)
		var active_tab = document.getElementById("tab005");
	}
	else if (document.location.hash == "#services")
	{
		active_cat = '6';
		dE('options006', 0)
		var active_tab = document.getElementById("tab006");
	}
	else if (document.location.hash == "#blog")
	{
		active_cat = '7',
		dE('options007', 0)
		var active_tab = document.getElementById("tab007");
	}
	else if (document.location.hash == "#guestbook")
	{
		active_cat = '8';
		dE('options008', 0)
		var active_tab = document.getElementById("tab008");
	}

	var id = '000';
	active_tab.setAttribute("class", "garage_preset_yes activetab");

//-->
</script>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
