<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

<div id="garage-main">
<div id="cp-main">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<form action="{S_GARAGE_ACTION}" method="post">
			<h3>{L_ADD_PRODUCT}</h3>
			<!-- IF S_DISPLAY_PENDING -->
			<h4>{L_PENDING_NOTICE}</h4>
			<!-- ENDIF -->
			<fieldset>
				<dl>
					<dt class="row1" width="20%"><span class="gen"><b>{L_MODIFICATION}&nbsp;{L_CATEGORY}</b></span></dt>
					<dd class="row2" align="left" nowrap="nowrap"><span class="gen">{CATEGORY}</span></dd>
				</dl>
				<dl>
					<dt class="row1" width="20%"><span class="gen"><b>{L_MODIFICATION}&nbsp;{L_MANUFACTURER}</b></span></dt>
					<dd class="row2" align="left" nowrap="nowrap"><span class="gen">{MANUFACTURER}</span></dd>
				</dl>
				<dl>
					<dt class="row1" width="20%"><span class="gen"><b>{L_MODIFICATION}&nbsp;{L_PRODUCT}</b></span></dt>
					<dd class="row2"><input name="title" type="text" class="post" size="35" value="" /></dd>
				</dl>
			</fieldset>

			<fieldset>
				<input type="hidden" value="insert_product" name="mode" /><input type="hidden" value="{CATEGORY_ID}" name="category_id" /><input type="hidden" value="{VID}" name="vehicle_id" /><input type="hidden" value="{MANUFACTURER_ID}" name="manufacturer_id" />
			</fieldset>

			<fieldset class="submit-buttons">
				<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
				<input type="submit" name="submit" value="{L_ADD_PRODUCT_BUTTON}" class="button1" />
			</fieldset>
		</form>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
