<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

		<script type="text/javascript" src="{T_TEMPLATE_PATH}/garage_functions.js"></script>
<div id="garage-main">
<div id="cp-main">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

			<div id="advanced00">
			<div class="garage_cat">
				<ul>
					<li class="garage_preset_yes" id="tab000"><a href="#data" onclick="swap_options('0','0','0');"><span class="tabbg">{L_QUARTERMILE}</span></a></li>
					<!-- IF U_MANAGE_GALLERY --><li class="garage_preset_yes" id="tab001"><a href="#images" onclick="swap_options('0','0','1');"><span class="tabbg">{L_IMAGES}</span></a></li><!-- ENDIF -->
				</ul>
			</div>

			<div class="garage_panel" id="options000" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
				<form enctype="multipart/form-data" method="post" name="quartermile" action="{S_MODE_ACTION}">
				<h3>{L_TITLE}</h3>
				<fieldset>
					<dl>
						<dt class="row1" width="35%"><span class="gen">{L_RT_EXPLAIN}</span></dt>
						<dd class="row2"><input name="rt" type="text" class="post" size="15" value="{RT}" /></dd>
					</dl>
					<dl>
						<dt class="row1" width="35%"><span class="gen">{L_SIXTY_EXPLAIN}</span></dt>
						<dd class="row2"><input name="sixty" type="text" class="post" size="15" value="{SIXTY}" /></dd>
					</dl>
					<dl>
						<dt class="row1" width="35%"><span class="gen">{L_THREE_EXPLAIN}</span></dt>
						<dd class="row2"><input name="three" type="text" class="post" size="15" value="{THREE}" /></dd>
					</dl>
					<dl>
						<dt class="row1" width="35%"><span class="gen">{L_EIGHTH_EXPLAIN}</span></dt>
						<dd class="row2"><input name="eighth" type="text" class="post" size="15" value="{EIGHTH}" /></dd>
					</dl>
					<dl>
						<dt class="row1" width="35%"><span class="gen">{L_EIGHTHMPH_EXPLAIN}</span></dt>
						<dd class="row2"><input name="eighthmph" type="text" class="post" size="15" value="{EIGHTHMPH}" /></dd>
					</dl>
					<dl>
						<dt class="row1" width="35%"><span class="gen">{L_THOU_EXPLAIN}</span></dt>
						<dd class="row2"><input name="thou" type="text" class="post" size="15" value="{THOU}" /></dd>
					</dl>
					<dl>
						<dt class="row1" width="35%"><span class="gen">{L_QUART_EXPLAIN}</span></dt>
						<dd class="row2"><input name="quart" type="text" class="post" size="15" value="{QUART}" /> <span class="gensmall" style="color:#FF0000">[{L_REQUIRED}]</span></dd>
					</dl>
					<dl>
						<dt class="row1" width="35%"><span class="gen">{L_QUARTMPH_EXPLAIN}</span></dt>
						<dd class="row2"><input name="quartmph" type="text" class="post" size="15" value="{QUARTMPH}"/> </dd>
					</dl>
					<!-- IF S_DISPLAY_DYNORUNS -->
					<dl>
						<dt class="row1" width="35%"><span class="gen"><b>{L_LINK_TO_RR}</b></span></dt>
		  				<dd class="row2"><select id="dynorun_id" name="dynorun_id"><option value="">{L_SELECT_A_OPTION}</option><option value="">------</option><!-- BEGIN dynorun --><option value="{dynorun.VALUE}" <!-- IF dynorun.S_SELECTED -->selected="selected"<!-- ENDIF -->>{dynorun.TEXT}</option><!-- END dynorun --></select></dd>
					</dl>
					<!-- ENDIF -->

					<!-- IF ! QMID -->
						<!-- INCLUDE garage_image_attach.html -->
					<!-- ENDIF -->

				</fieldset>

				<fieldset>
					<input type="hidden" value="{VID}" name="VID" /><input type="hidden" value="{QMID}" name="QMID" /><input type="hidden" value="{PENDING_REDIRECT}" name="pending_redirect" />
				</fieldset>

				<fieldset class="submit-buttons">
					<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
					<input type="submit" name="submit" value="{L_BUTTON}" class="button1" />
				</fieldset>
				</form>
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

			<div class="garage_panel" id="options001" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
				<!-- INCLUDE garage_manage_gallery.html -->
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

			</div>
			
		</td>

<script type="text/javascript">
<!--
	var lowest_tab = '0';
	var active_pmask = '0';
	var active_fmask = '0';
	if (document.location.hash == "")
	{
		active_cat = lowest_tab;
		dE('options00' + lowest_tab , 0)
		var active_tab = document.getElementById("tab00" + lowest_tab);
	}
	else if (document.location.hash == "#data")
	{
		active_cat = '0';
		dE('options000', 0)
		var active_tab = document.getElementById("tab000");
	}
	else if (document.location.hash == "#images")
	{
		active_cat = '1';
		dE('options001', 0)
		var active_tab = document.getElementById("tab001");
	}

	var id = '000';
	active_tab.setAttribute("class", "garage_preset_yes activetab");

//-->
</script>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
