<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

<div id="garage-main">
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<form action="{S_GARAGE_ACTION}" method="post">
			<h3>{L_ADD_MODEL}</h3>
			<!-- IF S_DISPLAY_PENDING -->
			<h4>{L_PENDING_NOTICE}</h4>
			<!-- ENDIF -->
			<fieldset>
				<dl>
					<dt>{L_VEHICLE_MAKE}</dt>
					<dd>{MAKE}</span></dd>
				</dl>
				<dl>
					<dt>{L_VEHICLE_MODEL}</dt>
					<dd><input name="model" type="text" class="inputbox autowidth" size="35" value="{S_MODEL}" /></dd>
				</dl>
			</fieldset>

			<fieldset>
				<input type="hidden" value="insert_model" name="mode" /><input type="hidden" value="{MAKE_ID}" name="make_id" /><input type="hidden" value="{MAKE}" name="make" /><input type="hidden" value="{YEAR}" name="made_year" />
			</fieldset>

			<fieldset class="submit-buttons">
				<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
				<input type="submit" name="submit" value="{L_ADD_MODEL_BUTTON}" class="button1" />
			</fieldset>
			{S_FORM_TOKEN}
		</form>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
