<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

<div id="garage-main">
<div id="cp-main">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

			<h3>{L_WELCOME}</h3>
			<table width="100%" border="0" cellspacing="1" cellpadding="4" class="tablebg">
			<tbody>
				<tr>
					<!-- IF S_FEATURED_VEHICLE -->
					<td width="45%" class="row1" align="center">
						<table cellpadding="3" cellspacing="1" border="0" class="tablebg">
						<thead>
							<tr>
								<th class="thHead" height="25" align="center" colspan="2">{L_FEATURED_VEHICLE}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="row1" nowrap align="center"><span align="center" class="genmed">{FEATURED_DESCRIPTION}<br /><a href="{U_VIEW_IMAGE}" title="{IMAGE_TITLE}" target="_blank"><img hspace="5" vspace="5" src="{FEATURED_THUMB}" /></a><br /><a href="{U_VIEW_VEHICLE}">{VEHICLE}</a><br />{L_OWNER}:<b><a href="{U_VIEW_PROFILE}" <!-- IF USERNAME_COLOUR --> style="color: {USERNAME_COLOUR}"<!-- ENDIF -->>{USERNAME}</a></b></span></td>
							</tr>
						</tbody>
						</table>
					</td>
					<td class="row1"><span class="genmed">{L_WELCOME_TEXT}<br /><br />{L_TOTAL_VEHICLES}:<b>{TOTAL_VEHICLES}</b><br />{L_TOTAL_MODIFICATIONS}:<b>{TOTAL_MODIFICATIONS}</b><br />{L_TOTAL_COMMENTS}:<b>{TOTAL_COMMENTS}</b><br />{L_TOTAL_VIEWS}:<b>{TOTAL_VIEWS}</b></span></td>
					<!-- ELSE -->
					<td class="row1"><span class="genmed">{L_WELCOME_TEXT}<br /><br />{L_TOTAL_VEHICLES}:<b>{TOTAL_VEHICLES}</b><br />{L_TOTAL_MODIFICATIONS}:<b>{TOTAL_MODIFICATIONS}</b><br />{L_TOTAL_COMMENTS}:<b>{TOTAL_COMMENTS}</b><br />{L_TOTAL_VIEWS}:<b>{TOTAL_VIEWS}</b></span></td>
					<!-- ENDIF -->
				</tr>
			</tbody>
			</table>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN block_1 -->
		<h3>{block_1.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{block_1.COLUMN_1_TITLE}</dt>
							<dd class="topics">{block_1.COLUMN_2_TITLE}</dd>
							<dd class="posts">{block_1.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_1.row.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dt class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></dt>
							<dd class="row1" align="center" valign="middle"><span class="gensmall"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></span></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></dd>
							<!-- ELSE -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END block_1 -->
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN block_2 -->
		<h3>{block_2.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{block_2.COLUMN_1_TITLE}</dt>
							<dd class="topics">{block_2.COLUMN_2_TITLE}</dd>
							<dd class="posts">{block_2.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_2.row.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dt class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></dt>
							<dd class="row1" align="center" valign="middle"><span class="gensmall"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></span></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></dd>
							<!-- ELSE -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END block_2 -->
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN block_3 -->
		<h3>{block_3.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{block_1.COLUMN_1_TITLE}</dt>
							<dd class="topics">{block_1.COLUMN_2_TITLE}</dd>
							<dd class="posts">{block_1.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_3.row.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dt class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></dt>
							<dd class="row1" align="center" valign="middle"><span class="gensmall"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></span></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></dd>
							<!-- ELSE -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END block_3 -->
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN block_4 -->
		<h3>{block_4.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{block_1.COLUMN_1_TITLE}</dt>
							<dd class="topics">{block_1.COLUMN_2_TITLE}</dd>
							<dd class="posts">{block_1.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<li class="row">
						<dl>
							<dt class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></dt>
							<dd class="row1" align="center" valign="middle"><span class="gensmall"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></span></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></dd>
							<!-- ELSE -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END block_4 -->
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN block_5 -->
		<h3>{block_5.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{block_1.COLUMN_1_TITLE}</dt>
							<dd class="topics">{block_1.COLUMN_2_TITLE}</dd>
							<dd class="posts">{block_1.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<li class="row">
						<dl>
							<dt class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></dt>
							<dd class="row1" align="center" valign="middle"><span class="gensmall"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></span></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></dd>
							<!-- ELSE -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END block_5 -->
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN block_6 -->
		<h3>{block_6.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{block_1.COLUMN_1_TITLE}</dt>
							<dd class="topics">{block_1.COLUMN_2_TITLE}</dd>
							<dd class="posts">{block_1.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<li class="row">
						<dl>
							<dt class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></dt>
							<dd class="row1" align="center" valign="middle"><span class="gensmall"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></span></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></dd>
							<!-- ELSE -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END block_6 -->
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN block_7 -->
		<h3>{block_7.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{block_1.COLUMN_1_TITLE}</dt>
							<dd class="topics">{block_1.COLUMN_2_TITLE}</dd>
							<dd class="posts">{block_1.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<li class="row">
						<dl>
							<dt class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></dt>
							<dd class="row1" align="center" valign="middle"><span class="gensmall"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></span></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></dd>
							<!-- ELSE -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END block_7 -->
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN block_8 -->
		<h3>{block_8.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{block_1.COLUMN_1_TITLE}</dt>
							<dd class="topics">{block_1.COLUMN_2_TITLE}</dd>
							<dd class="posts">{block_1.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<li class="row">
						<dl>
							<dt class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></dt>
							<dd class="row1" align="center" valign="middle"><span class="gensmall"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></span></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></dd>
							<!-- ELSE -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END block_8 -->
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN block_9 -->
		<h3>{block_9.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{block_1.COLUMN_1_TITLE}</dt>
							<dd class="topics">{block_1.COLUMN_2_TITLE}</dd>
							<dd class="posts">{block_1.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<li class="row">
						<dl>
							<dt class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></dt>
							<dd class="row1" align="center" valign="middle"><span class="gensmall"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></span></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></dd>
							<!-- ELSE -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END block_9 -->
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN block_10 -->
		<h3>{block_10.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{block_1.COLUMN_1_TITLE}</dt>
							<dd class="topics">{block_1.COLUMN_2_TITLE}</dd>
							<dd class="posts">{block_1.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<li class="row">
						<dl>
							<dt class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></dt>
							<dd class="row1" align="center" valign="middle"><span class="gensmall"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></span></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></dd>
							<!-- ELSE -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END block_10 -->
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN block_11 -->
		<h3>{block_11.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{block_1.COLUMN_1_TITLE}</dt>
							<dd class="topics">{block_1.COLUMN_2_TITLE}</dd>
							<dd class="posts">{block_1.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<li class="row">
						<dl>
							<dt class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></dt>
							<dd class="row1" align="center" valign="middle"><span class="gensmall"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></span></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></dd>
							<!-- ELSE -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END block_11 -->
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN block_12 -->
		<h3>{block_1.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{block_1.COLUMN_1_TITLE}</dt>
							<dd class="topics">{block_1.COLUMN_2_TITLE}</dd>
							<dd class="posts">{block_1.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_12.row.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dt class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></dt>
							<dd class="row1" align="center" valign="middle"><span class="gensmall"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></span></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></dd>
							<!-- ELSE -->
							<dd class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END block_12 -->
	<span class="corners-bottom"><span></span></span></div>
</div>



	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
