<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

		<td width="72%" valign="top">
 			<!-- BEGIN business_row -->
			<table width="100%" cellpadding="2" cellspacing="1" border="0" class="tablebg">
			<thead>
   				<tr>
      					<th height="25" colspan="8" class="thHead"><a href="{business_row.U_VIEW_BUSINESS}">{business_row.TITLE}</a></th>
				</tr>
			</thead>
			<tbody>
				<tr>
      					<td class="row1" height="25" colspan="8" ><span class="gen"><b>{L_BUSINESS_NAME} : </b><a href="{business_row.U_VIEW_BUSINESS}">{business_row.TITLE}</a></span>
				<!-- BEGIN more_detail -->
				<span class="gensmall">{L_CLICK_FOR_MORE_DETAIL}</span>
 				<!-- END more_detail -->
				<span class="gen"><br /><b>{L_ADDRESS} : </b>{business_row.ADDRESS}<br /><b>{L_TELEPHONE} : </b>{business_row.TELEPHONE}<br /><b>{L_FAX} :</b> {business_row.FAX}<br /><b>{L_WEBSITE} : </b><a href="{business_row.WEBSITE}">{business_row.WEBSITE}</a><br /><b>{L_EMAIL} : </b>{business_row.EMAIL}<br /><b>{L_OPENING_HOURS} : </b>{business_row.OPENING_HOURS}<br /><b>{L_RATING} : </b>{business_row.RATING} {L_OUT_OF} {business_row.MAX_RATING}</span></td>
   				</tr>
 				<!-- BEGIN customers -->
				<tr>
					<th class="thHead" align="center" height="28" colspan="6">{L_LAST_CUSTOMERS}</th>
				</tr>
				<tr>
					<td class="cat" align="center" height="28" ><span class="gen">{L_OWNER}</span></td>
					<td class="cat" align="center" height="28" ><span class="gen">{L_VEHICLE}</span></td>
					<td class="cat" align="center" height="28" ><span class="gen">{L_MODIFICATION}&nbsp;/&nbsp;{L_SERVICE}</span></td>
					<td class="cat" align="center" height="28" ><span class="gen">{L_RATING}</span></td>
				</tr>
 				<!-- END customers -->
				<!-- BEGIN mod_row -->
				<tr>
					<td class="row1" align="center" nowrap><span class="gensmall"><b><a href="{business_row.mod_row.U_VIEW_PROFILE}" <!-- IF business_row.mod_row.USERNAME_COLOUR --> style="color: {business_row.mod_row.USERNAME_COLOUR}"<!-- ENDIF -->>{business_row.mod_row.USERNAME}</a></b></span></td>
					<td class="row1" align="center" nowrap><span class="gensmall"><a href="{business_row.mod_row.U_VIEW_VEHICLE}">{business_row.mod_row.VEHICLE}</a></span></td>
					<td class="row1" align="center" nowrap><span class="gensmall"><!-- IF business_row.mod_row.U_VIEW_ITEM --><a href="{business_row.mod_row.U_VIEW_ITEM}">{business_row.mod_row.ITEM}</a><!-- ELSE -->{business_row.mod_row.ITEM}<!-- ENDIF --></span></td>
					<td class="row1" align="center" nowrap><span class="gensmall">{business_row.mod_row.RATING}</span></td>
				</tr>
				<!-- END mod_row -->
 				<!-- BEGIN comments -->
				<tr>
					<td class="cat" align="center" height="28" colspan="6"><span class="gen">{L_COMMENTS}</span></td>
				</tr>
				<!-- END comments -->
 				<!-- BEGIN customer_comments -->
				<tr>
					<td class="row1" align="left" colspan="6"><span class="gensmall">{business_row.customer_comments.COMMENTS}</span></td>
				</tr>
				<!-- END customer_comments -->
			</tbody>
 			</table>
 			<br /> 
			<!-- END business_row -->

			<table width="100%" cellspacing="1">
			<tbody>
				<tr>
				<!-- IF TOTAL_BUSINESS -->
					<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
					<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_BUSINESS} ]&nbsp;</td>
					<td class="gensmall" width="100%" align="right" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
				<!-- ENDIF -->
				</tr>
			</tbody>
			</table>
		</td>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
