<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

<div id="garage-main">
<div id="cp-main">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
			<form action="{S_GARAGE_ACTION}" method="post">
			<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
			<thead>
				<tr>
					<th height="25" nowrap="nowrap" colspan="2">{L_ADD_MODEL}</th>
				</tr>
			</thead>
			<tbody>
				<!-- IF S_DISPLAY_PENDING -->
				<tr>
					<td class="row1" colspan="2" width="20%" align="center"><span class="gen"><br />{L_PENDING_NOTICE}<br /><br /></span></td>
				</tr>
				<!-- ENDIF -->
				<tr>
					<td class="row1" width="20%"><span class="gen">{L_VEHICLE_MAKE}</span></td>
					<td class="row2" align="left" nowrap="nowrap"><span class="gen">{MAKE}</span></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen">{L_VEHICLE_MODEL}</span></td>
					<td class="row2"><input name="model" type="text" class="post" size="35" value="{S_MODEL}" /></td>
				</tr>
				<tr>
					<td class="cat" align="center" height="28" colspan="2"><input type="hidden" value="insert_model" name="mode" /><input type="hidden" value="{MAKE_ID}" name="make_id" /><input type="hidden" value="{MAKE}" name="make" /><input type="hidden" value="{YEAR}" name="made_year" /><input name="submit" type="submit" value="{L_ADD_MODEL_BUTTON}" class="liteoption" /></td>
				</tr>
			</tbody>
			</table>
			</form>
		</td>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
