#
# phpBB Imageset Configuration File
#
# @package phpBB3
# @copyright (c) 2005 phpBB Group 
# @license http://opensource.org/licenses/gpl-license.php GNU Public License 
#
#
# At the left is the name, please do not change this
# At the right the value is entered
# For on/off options the valid values are on, off, 1, 0, true and false
#
# Values get trimmed, if you want to add a space in front or at the end of
# the value, then enclose the value with single or double quotes. 
# Single and double quotes do not need to be escaped.
#
#

# Images 
img_icon_contact_aim = icon_contact_aim.gif
img_icon_contact_email = icon_contact_email.gif
img_icon_contact_icq = icon_contact_icq.gif
img_icon_contact_jabber = icon_contact_jabber.gif
img_icon_contact_msnm = icon_contact_msnm.gif
img_icon_contact_pm = icon_contact_pm.gif
img_icon_contact_yahoo = icon_contact_yahoo.gif
img_icon_contact_www = icon_contact_www.gif

img_icon_post_delete = icon_post_delete.gif
img_icon_post_edit = icon_post_edit.gif
img_icon_post_info = icon_post_info.gif
img_icon_post_quote = icon_post_quote.gif
img_icon_post_report = icon_post_report.gif

img_icon_user_online = icon_user_online.gif
img_icon_user_offline = icon_user_offline.gif
img_icon_user_profile = icon_user_profile.gif
img_icon_user_search = icon_user_search.gif
img_icon_user_warn = icon_user_warn.gif

img_button_pm_forward =
img_button_pm_new = button_pm_new.gif
img_button_pm_reply = button_pm_reply.gif
img_button_topic_locked = button_topic_locked.gif
img_button_topic_new = button_topic_new.gif
img_button_topic_reply = button_topic_reply.gif
//-- mod start : Garage ----------------------------------------------------------------------------------------------------
//-- add
img_garage_icon_garage		= icon_garage.gif*
img_garage_main_menu		= garage_main_menu.gif
img_garage_browse		= garage_browse.gif
img_garage_search		= garage_search.gif
img_garage_quartermile_table	= garage_quartermile_table.gif
img_garage_dynorun_table	= garage_dynorun_table.gif
img_garage_lap_table		= garage_lap_table.gif
img_garage_garage_review	= garage_garage_review.gif
img_garage_shop_review		= garage_shop_review.gif
img_garage_insurance_review	= garage_insurance_review.gif
img_garage_create_vehicle	= garage_create_vehicle.gif
img_garage_edit_vehicle		= garage_edit_vehicle.gif
img_garage_delete_vehicle	= garage_delete_vehicle.gif
img_garage_view_vehicle		= garage_view_vehicle.gif
img_garage_add_modification	= garage_add_modification.gif
img_garage_add_insurance	= garage_add_insurance.gif
img_garage_add_dynorun		= garage_add_dynorun.gif
img_garage_add_quartermile	= garage_add_quartermile.gif
img_garage_add_lap		= garage_add_lap.gif
img_garage_add_service		= garage_add_service.gif
img_garage_main_vehicle		= garage_main_vehicle.gif
img_garage_no_thumb		= garage_no_thumb.gif
//-- mod finish : Garage ---------------------------------------------------------------------------------------------------
