<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

		<td width="72%" valign="top" >
			<form method="post" name="user_submit" action="{S_USER_SUBMIT_ACTION}">
			<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">


			<!-- IF S_USER_SUBMIT_MAKE and ! S_USER_SUBMIT_SUCCESS -->
			<thead>
				<tr>
					<th class="thHead" height="25" nowrap="nowrap" colspan="2">{L_ADD_MAKE}</th>
				</tr>
			</thead>
			<tbody>
				<!-- IF S_DISPLAY_PENDING -->
				<tr>
					<td class="row1" colspan="2" width="20%" align="center"><span class="gen"><br />{L_PENDING_NOTICE}<br /><br /></span></td>
				</tr>
				<!-- ENDIF -->
				<tr>
					<td class="row1" width="20%"><span class="gen">{L_VEHICLE_MAKE}</span></td>
					<td class="row2"><input name="make" type="text" class="post" size="35" value="{MAKE}" /></td>
				</tr>
			<!-- ENDIF -->

			<!-- IF S_USER_SUBMIT_MODEL and ! S_USER_SUBMIT_SUCCESS -->
			<thead>
				<tr>
					<th height="25" nowrap="nowrap" colspan="2">{L_ADD_MODEL}</th>
				</tr>
			</thead>
			<tbody>
				<!-- IF S_DISPLAY_PENDING -->
				<tr>
					<td class="row1" colspan="2" width="20%" align="center"><span class="gen"><br />{L_PENDING_NOTICE}<br /><br /></span></td>
				</tr>
				<!-- ENDIF -->
				<tr>
					<td class="row1" width="20%"><span class="gen">{L_VEHICLE_MAKE}</span></td>
					<td class="row2" align="left" nowrap="nowrap"><span class="gen">{MAKE}</span></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen">{L_VEHICLE_MODEL}</span></td>
					<td class="row2"><input name="model" type="text" class="post" size="35" value="{S_MODEL}" /></td>
				</tr>
			<!-- ENDIF -->

			<!-- IF S_USER_SUBMIT_PRODUCT and ! S_USER_SUBMIT_SUCCESS -->
			<thead>
				<tr>
					<th height="25" nowrap="nowrap" colspan="2">{L_ADD_PRODUCT}</th>
				</tr>
			</thead>
			<tbody>
				<!-- IF S_DISPLAY_PENDING -->
				<tr>
					<td class="row1" colspan="2" width="20%" align="center"><span class="gen"><br />{L_PENDING_NOTICE}<br /><br /></span></td>
				</tr>
				<!-- ENDIF -->
				<tr>
					<td class="row1" width="20%"><span class="gen"><b>{L_MODIFICATION}&nbsp;{L_CATEGORY}</b></span></td>
					<td class="row2" align="left" nowrap="nowrap"><span class="gen">{CATEGORY}</span></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen"><b>{L_MODIFICATION}&nbsp;{L_MANUFACTURER}</b></span></td>
					<td class="row2" align="left" nowrap="nowrap"><span class="gen">{MANUFACTURER}</span></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen"><b>{L_MODIFICATION}&nbsp;{L_PRODUCT}</b></span></td>
					<td class="row2"><input name="title" type="text" class="post" size="35" value="" /></td>
				</tr>
			<!-- ENDIF -->

			<!-- IF S_USER_SUBMIT_TRACK and ! S_USER_SUBMIT_SUCCESS -->
			<thead>
				<tr>
					<th colspan="2"><span class="gen">{L_TITLE}</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="row1" width="30%"><span class="gen"><b>{L_TRACK}</b></span>&nbsp;<span class="gensmall" style="color:#FF0000">[{L_REQUIRED}]</span></td>
					<td class="row2"><input name="title" type="text" class="post" size="35" value="{TITLE}" /></td>
				</tr>
				<tr>
					<td class="row1" width="30%"><span class="gen"><b>{L_LENGTH}</b></span></td>
					<td class="row2"><input name="length" type="text" class="post" size="15" value="{LENGTH}" />&nbsp;<select id="mileage_unit" name="mileage_unit"><option value="">{L_SELECT_MILEAGE_UNIT}</option><option value="">------</option><!-- BEGIN mileage --><option value="{mileage.VALUE}" <!-- IF mileage.S_SELECTED -->selected="selected"<!-- ENDIF -->>{mileage.TEXT}</option><!-- END mileage --></select></td>
				</tr>

			<!-- ENDIF -->

			<!-- IF S_USER_SUBMIT_BUSINESS and ! S_USER_SUBMIT_SUCCESS -->
			<thead>
				<tr>
					<th height="25" nowrap="nowrap" colspan="2">{L_ADD_NEW_BUSINESS}</th>
				</tr>
			</thead>
			<tbody>
				<!-- IF S_DISPLAY_PENDING -->
				<tr>
					<td class="row1" colspan="2" width="20%" align="center"><span class="gen"><br />{L_BUSINESS_NOTICE}<br /><br /></span></td>
				</tr>
				<!-- ENDIF -->
				<tr>
					<td class="row1" width="20%"><span class="gen"><b>{L_BUSINESS_NAME}</b></span></td>
					<td class="row2"><input name="title" type="text" class="post" size="35" value="{TITLE}" /> <span class="gensmall" style="color:#FF0000">[{L_REQUIRED}]</span></td>
				</tr>
				<tr>
					<td class="row1" width="35%"><span class="gen"><b>{L_ADDRESS}</b></span></td>
					<td class="row2"><textarea name="address" cols="40" rows="4" wrap="soft"   class="post">{ADDRESS}</textarea></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen"><b>{L_TELEPHONE}</b></span></td>
					<td class="row2"><input name="telephone" type="text" class="post" size="35" value="{TELEPHONE}" /></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen"><b>{L_FAX}</b></span></td>
					<td class="row2"><input name="fax" type="text" class="post" size="35" value="{FAX}" /></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen"><b>{L_WEBSITE}</b></span></td>
					<td class="row2"><input name="website" type="text" class="post" size="35" value="{WEBSITE}" /></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen"><b>{L_EMAIL}</b></span></td>
					<td class="row2"><input name="email" type="text" class="post" size="35" value="{EMAIL}" /></td>
				</tr>
				<tr>
					<td class="row1" width="35%"><span class="gen"><b>{L_OPENING_HOURS}</b></span></td>
					<td class="row2"><textarea name="opening_hours" cols="40" rows="4" wrap="soft" class="post">{OPENING_HOURS}</textarea></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen"><b>{L_TYPE}</b></span></td>
					<td class="row2">{L_INSURANCE}&nbsp;:&nbsp;<input type="checkbox" name="insurance" value="1" <!-- IF S_BUSINESS_INSURANCE -->checked="checked"<!-- ENDIF --> /><br />{L_GARAGE}&nbsp;:&nbsp;<input type="checkbox" name="garage" value="1" <!-- IF S_BUSINESS_GARAGE-->checked="checked"<!-- ENDIF --> /><br />{L_RETAIL}&nbsp;:&nbsp;<input type="checkbox" name="retail" value="1" <!-- IF S_BUSINESS_RETAIL -->checked="checked"<!-- ENDIF --> /><br />{L_PRODUCT_MANUFACTURER}&nbsp;:&nbsp;<input type="checkbox" name="product" value="1" <!-- IF S_BUSINESS_PRODUCT -->checked="checked"<!-- ENDIF --> /><br />{L_DYNOCENTRE}&nbsp;:&nbsp;<input type="checkbox" name="dynocentre" value="1" <!-- IF S_BUSINESS_DYNOCENTRE -->checked="checked"<!-- ENDIF --> /></td>
				</tr>
				<!-- ENDIF -->


				<tr>
					<td class="cat" align="center" height="28" colspan="2">
						<!-- BEGIN hidden_data-->
						<input type="hidden" value="{hidden_data.VALUE}" name="{hidden_data.NAME}" />
						<!-- END -->
						<input name="submit" type="submit" value="L_BUTTON_LABEL}" class="liteoption" />
					</td>
				</tr>
			</tbody>
			</table>
	{S_FORM_TOKEN}
			</form>
		</td>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
