<div class="garage_cat">
	<ul>
		<!-- IF S_GARAGE_DISPLAY_MAIN --><li <!-- IF S_MAIN_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_MAIN}"><span class="tabbg">{L_MAIN_MENU}</span></a></li><!-- ENDIF -->
		<!-- IF S_DISPLAY_USER_VEHICLES --><li <!-- IF S_USER_GARAGE_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_USER_GARAGE}"><span class="tabbg">{L_YOUR_GARAGE}</span></a></li><!-- ENDIF -->
		<!-- IF S_GARAGE_DISPLAY_BROWSE --><li <!-- IF S_BROWSE_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_BROWSE}"><span class="tabbg">{L_BROWSE}</span></a></li><!-- ENDIF -->
		<!-- IF S_GARAGE_DISPLAY_SEARCH --><li <!-- IF S_SEARCH_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_SEARCH}"><span class="tabbg">{L_SEARCH}</span></a></li><!-- ENDIF -->
		<!-- IF S_GARAGE_DISPLAY_INSURANCE_REVIEW --><li <!-- IF S_INSURANCE_REVIEW_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_INSURANCE_REVIEW}"><span class="tabbg">{L_INSURANCE_SUMMARY}</span></a></li><!-- ENDIF -->
		<!-- IF S_GARAGE_DISPLAY_SHOP_REVIEW --><li <!-- IF S_SHOP_REVIEW_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_SHOP_REVIEW}"><span class="tabbg">{L_SHOP_REVIEW}</span></a></li><!-- ENDIF -->
		<!-- IF S_GARAGE_DISPLAY_GARAGE_REVIEW --><li <!-- IF S_GARAGE_REVIEW_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_GARAGE_REVIEW}"><span class="tabbg">{L_GARAGE_REVIEW}</span></a></li><!-- ENDIF -->
		<!-- IF S_GARAGE_DISPLAY_QUARTERMILE_TABLE --><li <!-- IF S_QUARTERMILE_TABLE_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_QUARTERMILE_TABLE}"><span class="tabbg">{L_QUARTERMILE_TABLE}</span></a></li><!-- ENDIF -->
		<!-- IF S_GARAGE_DISPLAY_DYNORUN_TABLE --><li <!-- IF S_DYNORUN_TABLE_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_DYNORUN_TABLE}"><span class="tabbg">{L_DYNORUN_TABLE}</span></a></li><!-- ENDIF -->
		<!-- IF S_GARAGE_DISPLAY_LAP_TABLE --><li <!-- IF S_LAP_TABLE_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_LAP_TABLE}"><span class="tabbg">{L_LAP_TABLE}</span></a></li><!-- ENDIF -->	
	</ul>
</div>

<div class="garage_panel">
<span class="corners-top"><span></span></span>
<div class="tablewrap">

<table cellpadding="4" cellspacing="1" cellpadding="5" border="0" width="100%">
<tbody>
	<tr>  
