<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

		<td width="72%" valign="top">

				<form enctype="multipart/form-data" method="post" name="quartermile" action="{S_MODE_ACTION}">
				<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
				<tbody>
					<tr>
						<th colspan="2"><span class="gen">{L_TITLE}</span></th>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_RT_EXPLAIN}</span></td>
						<td class="row2"><input name="rt" type="text" class="post" size="3" maxlength="3" value="{RT}" />{L_DECIMAL_SEPERATOR}<input name="rt_decimal" type="text" class="post" size="3" maxlength="3" value ="{RT_DECIMAL}" /></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_SIXTY_EXPLAIN}</span></td>
						<td class="row2"><input name="sixty" type="text" class="post" size="3" maxlength="3" value="{SIXTY}" />{L_DECIMAL_SEPERATOR}<input name="sixty_decimal" type="text" class="post" size="3" maxlength="3" value ="{SIXTY_DECIMAL}" /></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_THREE_EXPLAIN}</span></td>
						<td class="row2"><input name="three" type="text" class="post" size="3" maxlength="3" value="{THREE}" />{L_DECIMAL_SEPERATOR}<input name="three_decimal" type="text" class="post" size="3" maxlength="3" value ="{THREE_DECIMAL}" /></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_EIGHTH_EXPLAIN}</span></td>
						<td class="row2"><input name="eighth" type="text" class="post" size="3" maxlength="3" value="{EIGHTH}" />{L_DECIMAL_SEPERATOR}<input name="eighth_decimal" type="text" class="post" size="3" maxlength="3" value ="{EIGHTH_DECIMAL}" /></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_EIGHTHMPH_EXPLAIN}</span></td>
						<td class="row2"><input name="eighthmph" type="text" class="post" size="3" maxlength="3" value="{EIGHTHMPH}" />{L_DECIMAL_SEPERATOR}<input name="eighthmph_decimal" type="text" class="post" size="3" maxlength="3" value ="{EIGHTHMPH_DECIMAL}" /></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_THOU_EXPLAIN}</span></td>
						<td class="row2"><input name="thou" type="text" class="post" size="3" maxlength="3" value="{THOU}" />{L_DECIMAL_SEPERATOR}<input name="thou_decimal" type="text" class="post" size="3" maxlength="3" value ="{THOU_DECIMAL}" /></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_QUART_EXPLAIN}</span></td>
						<td class="row2"><input name="quart" type="text" class="post" size="3" maxlength="3" value="{QUART}" />{L_DECIMAL_SEPERATOR}<input name="quart_decimal" type="text" class="post" size="3" maxlength="3" value ="{QUART_DECIMAL}" />&nbsp;<span class="gensmall" style="color:#FF0000">[{L_REQUIRED}]</span></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_QUARTMPH_EXPLAIN}</span></td>
						<td class="row2"><input name="quartmph" type="text" class="post" size="3" maxlength="3" value="{QUARTMPH}"/>{L_DECIMAL_SEPERATOR}<input name="quartmph_decimal" type="text" class="post" size="3" maxlength="3" value ="{QUARTMPH_DECIMAL}" /></td>
					</tr>
					<!-- IF S_DISPLAY_DYNORUNS -->
					<tr>
						<td class="row1" width="35%"><span class="gen"><b>{L_LINK_TO_RR}</b></span></td>
		  				<td class="row2"><select id="dynorun_id" name="dynorun_id"><option value="">{L_SELECT_A_OPTION}</option><option value="">------</option><!-- BEGIN dynorun --><option value="{dynorun.VALUE}" <!-- IF dynorun.S_SELECTED -->selected="selected"<!-- ENDIF -->>{dynorun.TEXT}</option><!-- END dynorun --></select></td>
					</tr>
					<!-- ENDIF -->

					<!-- IF ! QMID -->
						<!-- INCLUDE garage_image_attach.html -->
					<!-- ENDIF -->

					<tr>
						<td class="cat" align="center" height="28" colspan="2">
							<input type="hidden" value="{VID}" name="VID" />
							<input type="hidden" value="{QMID}" name="QMID" />
							<input type="hidden" value="{REDIRECT}" name="redirect" />
							<input name="submit" type="submit" value="{L_BUTTON}" class="liteoption" />
						</td>
					</tr>
				</tbody>
				</table>
	{S_FORM_TOKEN}
			</form>

			<!-- IF U_MANAGE_GALLERY -->
			<br />
				<!-- INCLUDE garage_manage_gallery.html -->
			<!-- ENDIF -->
			
		</td>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
