	<!-- IF S_DISPLAY_GARAGE_PROFILE and VEHICLE -->
	<tr>
		<td class="cat" align="center" colspan="2"><h4>{USERNAME}'s {L_MAIN_VEHICLE}</h4></td>
	</tr>
	<tr>
		<td class="row1" colspan="2">
			<table cellspacing="1" cellpadding="2" border="0">
			<tbody>	
				<tr>
					<td class="gen" align="right" nowrap="nowrap">{L_VEHICLE}: </td>
					<td class="row1"><b class="gen">{YEAR} {MAKE} {MODEL}</b></td>
				</tr>	
				<tr>
					<td class="gen" align="right" nowrap="nowrap">{L_COLOUR}: </td>
					<td class="row1"><b class="gen">{COLOUR}</b></td>
				</tr>
				<tr>
					<td class="gen" align="right" nowrap="nowrap">{L_MILEAGE}: </td>
					<td class="row1"><b class="gen">{MILEAGE} {MILEAGE_UNITS}</b></td>
				</tr>
				<tr>
					<td class="gen" align="right" nowrap="nowrap">{L_PRICE}: </td>
					<td class="row1"><b class="gen">{PRICE} {CURRENCY}</b></td>
				</tr>
				<tr>
					<td class="gen" align="right" nowrap="nowrap">{L_TOTAL_MODS}: </td>
					<td class="row1"><b class="gen">{TOTAL_MODS}</b></td>
				</tr>
				<tr>
					<td class="gen" align="right" nowrap="nowrap">{L_TOTAL_SPENT}: </td>
					<td class="row1"><b class="gen">{TOTAL_SPENT} {CURRENCY}</b></td>
				</tr>	
				<tr>
					<td class="gen" align="right" nowrap="nowrap">{L_DESCRIPTION}: </td>
					<td class="row1"><b class="gen">{DESCRIPTION}</b></td>
				</tr>
				<tr> 
					<td class="row1" valign="middle" align="left" colspan="2">{HILITE_IMAGE}</td>
				</tr>
			</tbody>
			</table>
		</td>
	</tr>
	<!-- ENDIF -->
