<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

  		<td width="72%" valign="top">
			<form method="post" name="guestbook" action="{S_MODE_ACTION}">
			<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
				<tr>
					<th class="thHead" height="25" nowrap="nowrap" colspan="5">{L_GUESTBOOK_TITLE}</th>
				</tr>
				<!-- BEGIN comments -->
				<tr>
					<td class="row2" align="center" height="28" ><span class="name"><a name="{comments.U_POST_ID}"></a><b>{comments.POSTER_NAME}</b></span><br /><span class="postdetails">{comments.POSTER_RANK}<br />{comments.RANK_IMAGE}<br />{comments.POSTER_AVATAR}<br /> {comments.POSTER_JOINED}<br />{comments.POSTER_FROM}<br /><br /><a href="{comments.VIEW_POSTER_CARPROFILE}" >{comments.POSTER_CAR_YEAR} {comments.POSTER_CAR_MARK} {comments.POSTER_CAR_MODEL}</a><br /></span></td>
					<td class="row2" align="left" valign="top" height="28" colspan="4" >
						<table width="100%">
							<tr><td align="left"><span class="gensmall"><b>{L_POSTED}:</b> <span class="gensmall">{comments.POSTED}</span></td><td align="right">{comments.EDIT_IMG} {comments.DELETE_IMG}</span></tr></td>
							<tr><td colspan="2"><span class="postbody" align="left">{comments.POST}</span></tr></td>
						</table>
					</td>
				</tr>
				<tr>
					<td class="row2" align="center" height="10"> </td>
					<td class="row2" valign="middle" height="10" colspan="1">{comments.PROFILE_IMG} {comments.PM_IMG} {comments.EMAIL_IMG} {comments.WWW_IMG} </td>
				</tr>
				<tr>
					<td class="row1" align="center" height="3" colspan="5"></td>
				</tr>
				<!-- BEGINELSE -->
				<tr>
					<td class="row1" align="center" height="28" colspan="5"><span class="gen">{L_ADD_FIRST_COMMENT}</span></td>
				</tr>
				<!-- END comments -->
				<!-- IF S_DISPLAY_LEAVE_COMMENT -->
				<tr>
					<td class="cat" align="center" height="28" colspan="5"><span class="gen">{L_ADD_COMMENT}</span></td>
				</tr>
				<tr>
					<td class="row1" width="20%"><span class="gen">{L_ADD_COMMENT}</span></td>
					<td class="row2" colspan="4"><textarea name="comments" cols="70" rows="7" wrap="soft" class="post">{COMMENTS}</textarea></td>
				</tr>
				<tr>
					<td class="cat" align="center" height="28" colspan="5"><input type="hidden" value="insert_comment" name="mode" /><input type="hidden" value="{VID}" name="VID" /><input name="submit" type="submit" value="{L_POST_COMMENT}" class="liteoption" /></td>
				</tr>
				<!-- ENDIF -->
			</table>

			<table width="100%" cellspacing="1">
			<tr>
				<!-- IF TOTAL_COMMENTS -->
					<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
					<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_COMMENTS} ]&nbsp;</td>
					<td class="gensmall" width="100%" align="right" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
				<!-- ENDIF -->
			</tr>
			</table>

	{S_FORM_TOKEN}
			</form>
		</td>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
