<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2" valign="middle">{L_TITLE}</th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row3" colspan="2" align="center"><span class="gensmall" style="color:red">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_GUESTBOOK_EMAIL_NOTIFY}:</b></td>
	<td class="row2"><input type="radio" class="radio" name="guestbook_email_notify" value="1"<!-- IF S_GUESTBOOK_EMAIL_NOTIFY --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" class="radio" name="guestbook_email_notify" value="0"<!-- IF not S_GUESTBOOK_EMAIL_NOTIFY --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
</tr>
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_GUESTBOOK_PM_NOTIFY}:</b></td>
	<td class="row2"><input type="radio" class="radio" name="guestbook_pm_notify" value="1"<!-- IF S_GUESTBOOK_PM_NOTIFY --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" class="radio" name="guestbook_pm_notify" value="0"<!-- IF not S_GUESTBOOK_PM_NOTIFY --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
</tr>
<!-- IF S_DISPLAY_EMAIL_OPTOUT-->
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_EMAIL_OPTOUT}:</b></td>
	<td class="row2"><input type="radio" class="radio" name="email_optout" value="1"<!-- IF S_EMAIL_OPTOUT --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" class="radio" name="email_optout" value="0"<!-- IF not S_EMAIL_OPTOUT --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
</tr>
<!-- ENDIF -->
<!-- IF S_DISPLAY_PM_OPTOUT-->
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_PM_OPTOUT}:</b></td>
	<td class="row2"><input type="radio" class="radio" name="pm_optout" value="1"<!-- IF S_PM_OPTOUT --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" class="radio" name="pm_optout" value="0"<!-- IF not S_PM_OPTOUT --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
</tr>
	<!-- ENDIF -->
<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td>
</tr>
</table>

<!-- INCLUDE ucp_footer.html -->
