<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
<div id="pageheader">
	<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
</div>
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

<div id="garage-main">
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>

			<h3>{L_WELCOME}</h3>
			<table width="100%" border="0" cellspacing="1" cellpadding="4" class="tablebg">
				<tr>
					<!-- IF S_FEATURED_VEHICLE -->
					<td class="row1" align="center">
						<table cellpadding="3" cellspacing="1" border="0" class="tablebg">
						<tr>
							<th class="thHead" align="center" colspan="2">{L_FEATURED_VEHICLE}</th>
						</tr>
						<tr>
							<td class="row1" align="center">{FEATURED_DESCRIPTION}<br /><a href="{U_VIEW_IMAGE}" title="{IMAGE_TITLE}"><img src="{FEATURED_THUMB}" alt="" /></a><br /><a href="{U_VIEW_VEHICLE}">{VEHICLE}</a><br />{L_OWNER}:<b><a href="{U_VIEW_PROFILE}" <!-- IF USERNAME_COLOUR --> style="color: {USERNAME_COLOUR}"<!-- ENDIF -->>{USERNAME}</a></b></td>
						</tr>
						</table>
					</td>
					<td class="row1">{L_WELCOME_TEXT}<br /><br />{L_TOTAL_VEHICLES}:<b>{TOTAL_VEHICLES}</b><br />{L_TOTAL_MODIFICATIONS}:<b>{TOTAL_MODIFICATIONS}</b><br />{L_TOTAL_COMMENTS}:<b>{TOTAL_COMMENTS}</b><br />{L_TOTAL_VIEWS}:<b>{TOTAL_VIEWS}</b></td>
					<!-- ELSE -->
					<td class="row1">{L_WELCOME_TEXT}<br /><br />{L_TOTAL_VEHICLES}:<b>{TOTAL_VEHICLES}</b><br />{L_TOTAL_MODIFICATIONS}:<b>{TOTAL_MODIFICATIONS}</b><br />{L_TOTAL_COMMENTS}:<b>{TOTAL_COMMENTS}</b><br />{L_TOTAL_VIEWS}:<b>{TOTAL_VIEWS}</b></td>
					<!-- ENDIF -->
				</tr>
			</table>

			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<!-- BEGIN block_1 -->
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h3>{block_1.BLOCK_TITLE}</h3>
			<div class="forabg">
				<div class="inner">
					<span class="corners-top"><span></span></span>
					<ul class="topiclist">
						<li class="header">
							<dl>
								<dd class="index_block_header">{block_1.COLUMN_1_TITLE}</dd>
								<dd class="index_block_header">{block_1.COLUMN_2_TITLE}</dd>
								<dd class="index_block_header">{block_1.COLUMN_3_TITLE}</dd>
							</dl>
						</li>
					</ul>
					<ul class="topiclist forums">
						<!-- BEGIN row -->
						<!-- IF block_1.row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
							<dl>
								<dd class="index_block"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></dd>
								<dd class="index_block"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></dd>
								<!-- IF block_1.row.U_COLUMN_3 -->
								<dd class="index_block"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></dd>
								<!-- ELSE -->
								<dd class="index_block">{block_1.row.COLUMN_3_TITLE}</dd>
								<!-- ENDIF -->
							</dl>
						</li>
						<!-- BEGINELSE -->
						<div class="panel">
							<div class="inner"><span class="corners-top"><span></span></span>
							<strong>{L_NO_ITEM_TO_LIST}</strong>
							<span class="corners-bottom"><span></span></span></div>
						</div>
						<!-- END row -->
					</ul>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- END block_1 -->

<!-- BEGIN block_2 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{block_2.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dd class="index_block_header">{block_2.COLUMN_1_TITLE}</dd>
							<dd class="index_block_header">{block_2.COLUMN_2_TITLE}</dd>
							<dd class="index_block_header">{block_2.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_2.row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></dd>
							<dd class="index_block"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></dd>
							<!-- ELSE -->
							<dd class="index_block">{block_1.row.COLUMN_3_TITLE}</dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
		<!-- END block_2 -->

<!-- BEGIN block_3 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{block_3.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dd class="index_block_header">{block_3.COLUMN_1_TITLE}</dd>
							<dd class="index_block_header">{block_3.COLUMN_2_TITLE}</dd>
							<dd class="index_block_header">{block_3.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_3.row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></dd>
							<dd class="index_block"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></dd>
							<!-- ELSE -->
							<dd class="index_block">{block_1.row.COLUMN_3_TITLE}</dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
		<!-- END block_3 -->

<!-- BEGIN block_4 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{block_4.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dd class="index_block_header">{block_4.COLUMN_1_TITLE}</dd>
							<dd class="index_block_header">{block_4.COLUMN_2_TITLE}</dd>
							<dd class="index_block_header">{block_4.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_4.row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></dd>
							<dd class="index_block"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></dd>
							<!-- ELSE -->
							<dd class="index_block">{block_1.row.COLUMN_3_TITLE}</dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
		<!-- END block_4 -->

<!-- BEGIN block_5 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{block_5.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dd class="index_block_header">{block_5.COLUMN_1_TITLE}</dd>
							<dd class="index_block_header">{block_5.COLUMN_2_TITLE}</dd>
							<dd class="index_block_header">{block_5.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_5.row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></dd>
							<dd class="index_block"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></dd>
							<!-- ELSE -->
							<dd class="index_block">{block_1.row.COLUMN_3_TITLE}</dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
		<!-- END block_5 -->

<!-- BEGIN block_6 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{block_6.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dd class="index_block_header">{block_6.COLUMN_1_TITLE}</dd>
							<dd class="index_block_header">{block_6.COLUMN_2_TITLE}</dd>
							<dd class="index_block_header">{block_6.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_6.row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></dd>
							<dd class="index_block"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></dd>
							<!-- ELSE -->
							<dd class="index_block">{block_1.row.COLUMN_3_TITLE}</dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
		<!-- END block_6 -->

<!-- BEGIN block_7 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{block_7.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dd class="index_block_header">{block_7.COLUMN_1_TITLE}</dd>
							<dd class="index_block_header">{block_7.COLUMN_2_TITLE}</dd>
							<dd class="index_block_header">{block_7.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_7.row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></dd>
							<dd class="index_block"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></dd>
							<!-- ELSE -->
							<dd class="index_block">{block_1.row.COLUMN_3_TITLE}</dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_NO_ITEM_TO_LIST}</strong>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
		<!-- END block_7 -->

<!-- BEGIN block_8 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{block_8.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dd class="index_block_header">{block_8.COLUMN_1_TITLE}</dd>
							<dd class="index_block_header">{block_8.COLUMN_2_TITLE}</dd>
							<dd class="index_block_header">{block_8.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_8.row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></dd>
							<dd class="index_block"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></dd>
							<!-- ELSE -->
							<dd class="index_block">{block_1.row.COLUMN_3_TITLE}</dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<li class="row bg1">
						<dl>
							<dd class="index_block_header">{L_NO_ITEM_TO_LIST}</dd>
						</dl>
					</li>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
		<!-- END block_8 -->

<!-- BEGIN block_9 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{block_9.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dd class="index_block_header">{block_9.COLUMN_1_TITLE}</dd>
							<dd class="index_block_header">{block_9.COLUMN_2_TITLE}</dd>
							<dd class="index_block_header">{block_9.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_9.row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></dd>
							<dd class="index_block"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></dd>
							<!-- ELSE -->
							<dd class="index_block">{block_1.row.COLUMN_3_TITLE}</dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<li class="row bg1">
						<dl>
							<dd class="index_block_header">{L_NO_ITEM_TO_LIST}</dd>
						</dl>
					</li>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
		<!-- END block_9 -->

<!-- BEGIN block_10 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{block_10.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dd class="index_block_header">{block_10.COLUMN_1_TITLE}</dd>
							<dd class="index_block_header">{block_10.COLUMN_2_TITLE}</dd>
							<dd class="index_block_header">{block_10.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_10.row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></dd>
							<dd class="index_block"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></dd>
							<!-- ELSE -->
							<dd class="index_block">{block_1.row.COLUMN_3_TITLE}</dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<li class="row bg1">
						<dl>
							<dd class="index_block_header">{L_NO_ITEM_TO_LIST}</dd>
						</dl>
					</li>
					<!-- END row -->
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- END block_10 -->

<!-- BEGIN block_11 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{block_11.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dd class="index_block_header">{block_11.COLUMN_1_TITLE}</dd>
							<dd class="index_block_header">{block_11.COLUMN_2_TITLE}</dd>
							<dd class="index_block_header">{block_11.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_11.row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></dd>
							<dd class="index_block"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></dd>
							<!-- ELSE -->
							<dd class="index_block">{block_1.row.COLUMN_3_TITLE}</dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<li class="row bg1">
						<dl>
							<dd class="index_block_header">{L_NO_ITEM_TO_LIST}</dd>
						</dl>
					</li>
					<!-- END row -->
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- END block_11 -->

<!-- BEGIN block_12 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{block_12.BLOCK_TITLE}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dd class="index_block_header">{block_12.COLUMN_1_TITLE}</dd>
							<dd class="index_block_header">{block_12.COLUMN_2_TITLE}</dd>
							<dd class="index_block_header">{block_12.COLUMN_3_TITLE}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<!-- BEGIN row -->
					<!-- IF block_12.row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
						<dl>
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></dd>
							<dd class="index_block"><b><a href ="{block_1.row.U_COLUMN_2}" <!-- IF block_1.row.USERNAME_COLOUR --> style="color: {block_1.row.USERNAME_COLOUR}"<!-- ENDIF -->>{block_1.row.COLUMN_2_TITLE}</a></b></dd>
							<!-- IF block_1.row.U_COLUMN_3 -->
							<dd class="index_block"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></dd>
							<!-- ELSE -->
							<dd class="index_block">{block_1.row.COLUMN_3_TITLE}</dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- BEGINELSE -->
					<li class="row bg1">
						<dl>
							<dd class="index_block_header">{L_NO_ITEM_TO_LIST}</dd>
						</dl>
					</li>
					<!-- END row -->
				</ul>

			<span class="corners-bottom"><span></span></span></div>
		</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- END block_12 -->

</div>

<div class="clear"/>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
