<!-- INCLUDE overall_header.html -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

  		<td width="72%" valign="top">
    			<table cellpadding="4" cellspacing="1" border="0" width="100%" class="forumline">
     				<tr>
			      		<th height="25" colspan="1" class="thHead">{L_GARAGE_ERROR_OCCURED}</th>
			     	</tr>
			        <tr>
              				<td class="row1" align="center"><span class="gen" >{ERROR_MESSAGE}</span></td>
        			</tr>
    			</table>
		</td>
