<!-- INCLUDE overall_header.html -->
<script type="text/javascript" src="{T_TEMPLATE_PATH}/garage_ajax.js"></script>
<script type="text/javascript">
var ajax = new sack();

function get_model_list(sel)
{
	var make_id = sel.options[sel.selectedIndex].value;
	document.getElementById('model_id').options.length = 0;
	ajax.requestFile = 'garage.php?mode=get_model_list&make_id='+make_id;
	ajax.onCompletion = build_model_list;
	ajax.runAJAX();
}

function update_model_list(make_id, model_id)
{
	document.getElementById('model_id').options.length = 0;
	ajax.requestFile = 'garage.php?mode=get_model_list&model_id='+model_id+'&make_id='+make_id;
	ajax.onCompletion = build_model_list;
	ajax.runAJAX();
}

function build_model_list()
{
	var obj = document.getElementById('model_id');
	eval(ajax.response);
} 
</script>

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<form enctype="multipart/form-data" method="post" name="filter_rollingroad_table" action="{S_MODE_ACTION}">

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center"> 
	<tr>
		<td align="left" nowrap="nowrap"><span class="genmed">{L_MAKE}:&nbsp;<select id="make_id" name="make_id" onchange="get_model_list(this)" ><option value="{MAKE_ID}">{L_SELECT_MAKE}</option><!-- BEGIN make--><option value="{make.ID}" <!-- IF make.S_SELECTED -->selected="selected"<!-- ENDIF -->>{make.MAKE}</option><!-- END make --></select>&nbsp;{L_MODEL}:&nbsp;<select id="model_id" name="model_id"></select>&nbsp;{L_DYNORUN_SORTED_BY}:&nbsp;{S_MODE_SELECT}&nbsp;&nbsp;{L_ORDER}&nbsp;{S_ORDER_SELECT}&nbsp;&nbsp;<input type="submit" name="submit" value="{L_SORT}" class="liteoption" /></span></td>
	</tr>
</table>

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
	<tr> 
		<th height="25" class="thCornerL" nowrap="nowrap">#</th>
		<th class="thTop" nowrap="nowrap"></th>
		<th class="thTop" nowrap="nowrap">{L_USERNAME}</th>
		<th class="thTop" nowrap="nowrap">{L_VEHICLE}</th>
		<th class="thTop" nowrap="nowrap">{L_DYNOCENTER}</th>
		<th class="thTop" nowrap="nowrap">{L_BHP}</th>
		<th class="thTop" nowrap="nowrap">{L_BHP_UNIT}</th>
		<th class="thTop" nowrap="nowrap">{L_TORQUE}</th>
		<th class="thTop" nowrap="nowrap">{L_TORQUE_UNIT}</th>
		<th class="thTop" nowrap="nowrap">{L_BOOST}</th>
		<th class="thTop" nowrap="nowrap">{L_BOOST_UNIT}</th>
		<th class="thTop" nowrap="nowrap">{L_NITROUS}</th>
		<th class="thTop" nowrap="nowrap">{L_PEAKPOINT}</th>
	</tr>
	<!-- BEGIN dynorun -->
	<!-- IF dynorun.ROW_NUMBER is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
		<td align="center"><span class="gen">{dynorun.ROW_NUMBER}</span></td>
		<td align="center"><span class="gen"><!-- IF dynorun.U_IMAGE --><a href="{dynorun.U_IMAGE}" target="_blank">{dynorun.IMAGE}</a><!-- ENDIF --></span></td>
		<td align="center"><span class="gen"><a href="{dynorun.U_VIEWPROFILE}" class="gen">{dynorun.USERNAME}</a></span></td>
		<td align="center"><span class="gen"><a href="{dynorun.U_VIEWVEHICLE}" class="gen">{dynorun.VEHICLE}</a></span></td>
		<td align="center"><span class="gensmall">{dynorun.DYNOCENTER}</span></td>
		<td align="center"><span class="gensmall">{dynorun.BHP}</span></td>
		<td align="center"><span class="gensmall">{dynorun.BHP_UNIT}</span></td>
		<td align="center"><span class="gensmall">{dynorun.TORQUE}</span></td>
		<td align="center"><span class="gensmall">{dynorun.TORQUE_UNIT}</span></td>
		<td align="center"><span class="gensmall">{dynorun.BOOST}</span></td>
		<td align="center"><span class="gensmall">{dynorun.BOOST_UNIT}</span></td>
		<td align="center"><span class="gensmall">{dynorun.NITROUS}</span></td>
		<td align="center"><span class="gensmall">{dynorun.PEAKPOINT}</span></td>
	</tr>
	<!-- END dynorun -->
	<tr> 
		<td class="cat" colspan="15" height="28">&nbsp;</td>
	</tr>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr> 
		<td><span class="nav">{PAGE_NUMBER}</span></td>
		<td align="right"><span class="gensmall">{S_TIMEZONE}</span><br /><span class="nav">{PAGINATION}</span></td>
	</tr>
</table>
</form>

<script language="JavaScript1.1" type="text/javascript">
<!--
//Fill The Model Dropdown If We Are Editing + Select Correct One
update_model_list('{MAKE_ID}', '{MODEL_ID}');
//-->
</script>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->

