<!-- INCLUDE overall_header.html -->
<script type="text/javascript" src="{T_TEMPLATE_PATH}/garage_ajax.js"></script>
<script type="text/javascript">
var ajax = new sack();

//Function To Build Product Dropdown
function get_product_list(sel)
{
	//Get Selected Product Manufacturer
	var manufacturer_id = sel.options[sel.selectedIndex].value;

	//We Need To Make Sure A Category Is Selected
	if (document.modification.elements['category_id'].value < 1)
	{
		formErrors = "{L_EMPTY_TITLE}";
		if (formErrors) 
		{
			//We Need To Set Manufaucture Dropdown Back To Select Message
			// PLACE CODE HERE ;)
			alert(formErrors);
		} 
	}

	//Since We Know We Have A Valid Category Selected Save It
	var category_id = document.modification.elements['category_id'].value;

	//Set The Product List To Empty Ready To Recieve Options
	document.getElementById('product_id').options.length = 0;

	//Call Script To Run Products Based On Category & Manufacturer
	ajax.requestFile = 'garage.php?mode=get_product_list&category_id='+category_id+'&manufacturer_id='+manufacturer_id;
	ajax.onCompletion = build_product_list;
	ajax.runAJAX();
}

//Function Used For Inital Page Display On Editting Modification To Build Correctly Selected Dropdowns
function update_product_list(category_id, manufacturer_id, product_id)
{
	document.getElementById('product_id').options.length = 0;
	ajax.requestFile = 'garage.php?mode=get_product_list&category_id='+category_id+'&manufacturer_id='+manufacturer_id+'&product_id='+product_id;
	ajax.onCompletion = build_product_list;
	ajax.runAJAX();
}

//Update Product List If Manufacturer Is Valid To Show Products For New Category
function category_change(sel)
{
	var category_id = sel.options[sel.selectedIndex].value;
	var manufacturer_id = document.modification.elements['manufacturer_id'].value;

	//If We Have Two Valid Selections Update Prouct List
	if (category_id > 0 && manufacturer_id > 0)
	{
		document.getElementById('product_id').options.length = 0;
		ajax.requestFile = 'garage.php?mode=get_product_list&category_id='+category_id+'&manufacturer_id='+manufacturer_id;
		ajax.onCompletion = build_product_list;
		ajax.runAJAX();
	}

}

//Actually Build The Product Listed Based On Returned Values
function build_product_list()
{
	var obj = document.getElementById('product_id');
	eval(ajax.response);
} 
</script>

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

<script type="text/javascript" src="{T_TEMPLATE_PATH}/garage_functions.js"></script>
<td width="72%" valign="top">


		<div id="advanced00">
			<div class="garage_cat">
				<ul>
					<li class="garage_preset_yes" id="tab000"><a href="#data" onclick="swap_options('0','0','0');"><span class="tabbg">{L_MODIFICATION}</span></a></li>
					<!-- IF U_MANAGE_GALLERY --><li class="garage_preset_yes" id="tab001"><a href="#images" onclick="swap_options('0','0','1');"><span class="tabbg">{L_IMAGES}</span></a></li><!-- ENDIF -->
				</ul>
			</div>

			<div class="garage_panel" id="options000" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
				<form id="modification" enctype="multipart/form-data" method="post" name="modification" action="{S_MODE_ACTION}">
				<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
					<tr>
						<td class="cat" align="center" height="25" nowrap="nowrap" colspan="3"><span class="gen">{L_TITLE}</span></td>
					</tr>
					<tr>
						<td class="row1" width="30%"><span class="gen"><b>{L_CATEGORY}</b></span><span class="gensmall" style="color:#FF0000">[{L_REQUIRED}]</span></td>
						<td class="row2" colspan="2"><select id="category_id" name="category_id" onchange="category_change(this)" ><option value="">{L_SELECT_CATEGORY}</option><option value="">------</option><!-- BEGIN category--><option value="{category.VALUE}" <!-- IF category.S_SELECTED -->selected="selected"<!-- ENDIF -->>{category.TEXT}</option><!-- END category --></select>&nbsp;</td>
					</tr>
					<tr>
						<td class="row1" width="30%"><span class="gen"><b>{L_MANUFACTURER}</b></span><span class="gensmall" style="color:#FF0000">[{L_REQUIRED}]</span></td>
						<td class="row2" colspan="2"><select id="manufacturer_id" name="manufacturer_id" onchange="get_product_list(this)" ><option value="">{L_SELECT_MANUFACTURER}</option><option value="">------</option><!-- BEGIN manufacturer--><option value="{manufacturer.VALUE}" <!-- IF manufacturer.S_SELECTED -->selected="selected"<!-- ENDIF -->>{manufacturer.TEXT}</option><!-- END manufacturer --></select>&nbsp;<span class="gensmall">{L_NOT_LISTED_YET}<a href="{U_SUBMIT_BUSINESS_PRODUCT}">{L_HERE}</a></span></td>
					</tr>
					<tr>
						<td class="row1" width="30%"><span class="gen"><b>{L_PRODUCT}</b></span><span class="gensmall" style="color:#FF0000">[{L_REQUIRED}]</span></td>
						<td class="row2" colspan="2"><select id="product_id" name="product_id"><option value="">{L_SELECT_PRODUCT}</option><option value="">------</option></select>&nbsp;<span class="gensmall">&nbsp;{L_NOT_LISTED_YET}<a href="{U_SUBMIT_PRODUCT}">{L_HERE}</a>&nbsp;&nbsp;&nbsp;<span class="gen"><b>{L_RATING}</b>&nbsp;</span><span class="gensmall"><select id="product_rating" name="product_rating"><option value="">{L_SELECT_RATING}</option><option value="">------</option><!-- BEGIN product_rating --><option value="{product_rating.VALUE}" <!-- IF product_rating.S_SELECTED -->selected="selected"<!-- ENDIF -->>{product_rating.TEXT}</option><!-- END product_rating --></select></span></td>
					</tr>
					<tr>
						<td class="row1" width="30%"><span class="gen"><b>{L_PURCHASED_FROM}</b></span></td>
					  	<td class="row2" colspan="2"><select id="shop_id" name="shop_id"><option value="">{L_SELECT_SHOP}</option><option value="">------</option><!-- BEGIN shop --><option value="{shop.VALUE}" <!-- IF shop.S_SELECTED -->selected="selected"<!-- ENDIF -->>{shop.TEXT}</option><!-- END shop --></select>&nbsp;<span class="gensmall">{L_NOT_LISTED_YET}<a href="{U_SUBMIT_BUSINESS_SHOP}">{L_HERE}</a></span></td>
					</tr>
					<tr>
						<td class="row1" width="30%"><span class="gen"><b>{L_PURCHASED_PRICE}</b></span></td>
						<td class="row2" colspan="2"><input name="price" type="text" class="post" size="10" value="{PRICE}" /><span class="gen">&nbsp;<b>{L_PURCHASE_RATING}</b>&nbsp;<select id="purchase_rating" name="purchase_rating"><option value="">{L_SELECT_RATING}</option><option value="">------</option><!-- BEGIN purchase_rating --><option value="{purchase_rating.VALUE}" <!-- IF purchase_rating.S_SELECTED -->selected="selected"<!-- ENDIF -->>{purchase_rating.TEXT}</option><!-- END purchase_rating --></select></td>
					</tr>	
					<tr>
						<td class="row1" width="30%"><span class="gen"><b>{L_INSTALLED_BY}</b></span></td>
					  	<td class="row2" colspan="2"><select id="installer_id" name="installer_id"><option value="">{L_SELECT_GARAGE}</option><option value="">------</option><!-- BEGIN garage --><option value="{garage.VALUE}" <!-- IF garage.S_SELECTED -->selected="selected"<!-- ENDIF -->>{garage.TEXT}</option><!-- END garage --></select>&nbsp;<span class="gensmall">{L_NOT_LISTED_YET}<a href="{U_SUBMIT_BUSINESS_GARAGE}">{L_HERE}</a></span></td>
					</tr>
					<tr>
						<td class="row1" width="30%"><span class="gen"><b>{L_INSTALLATION_PRICE}</b></span></td>
						<td class="row2" colspan="2"><input name="install_price" type="text" class="post" size="10" value="{INSTALL_PRICE}" /><span class="gen">&nbsp;<b>{L_INSTALLATION_RATING}</b>&nbsp;<select id="install_rating" name="install_rating"><option value="">{L_SELECT_RATING}</option><option value="">------</option><!-- BEGIN install_rating --><option value="{install_rating.VALUE}" <!-- IF install_rating.S_SELECTED -->selected="selected"<!-- ENDIF -->>{install_rating.TEXT}</option><!-- END install_rating --></select></td>
					</tr>
					<tr>
						<td class="row1" width="30%"><span class="gen"><b>{L_DESCRIPTION}</b></span></td>
						<td class="row2" colspan="2"><textarea name="comments" cols="60" rows="4" wrap="soft"   class="post">{COMMENTS}</textarea></td>
					</tr>
					<tr>
						<td class="row1" width="30%"><span class="gen"><b>{L_INSTALL_COMMENTS}</b></span><br/><span class="gensmall">{L_ONLY_SHOW_IN_REVIEW}</span></td>
						<td class="row2" colspan="2"><textarea name="install_comments" cols="60" rows="4" wrap="soft"   class="post">{INSTALL_COMMENTS}</textarea></td>
					</tr>

					<!-- IF ! MID -->
						<!-- INCLUDE garage_image_attach.html -->
					<!-- ENDIF -->

					<tr>
						<td class="cat" align="center" height="28" colspan="3"><input type="hidden" value="" name="redirect" /><input type="hidden" value="{VID}" name="VID" /><input type="hidden" value="{MID}" name="MID" /><input name="modification" type="submit" value="{L_BUTTON}" class="liteoption" /></td>
					</tr>
				</table>
				</form>
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

			<div class="garage_panel" id="options001" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
				<!-- INCLUDE garage_manage_gallery.html -->
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

		</div>
			
</td>

<script language="JavaScript" type="text/javascript">
<!--
//Fill The Product Dropdown If We Are Editing + Select Correct One
update_product_list('{CATEGORY_ID}', '{MANUFACTURER_ID}', '{PRODUCT_ID}');

function add_product (redirect)
{
	document.modification.redirect.value = redirect;
	document.modification.action = '{S_MODE_ACTION_PRODUCT}';
	document.modification.submit() ;
}
//-->
</script>

<script type="text/javascript">
<!--
	var lowest_tab = '0';
	var active_pmask = '0';
	var active_fmask = '0';
	if (document.location.hash == "")
	{
		active_cat = lowest_tab;
		dE('options00' + lowest_tab , 0)
		var active_tab = document.getElementById("tab00" + lowest_tab);
	}
	else if (document.location.hash == "#data")
	{
		active_cat = '0';
		dE('options000', 0)
		var active_tab = document.getElementById("tab000");
	}
	else if (document.location.hash == "#images")
	{
		active_cat = '1';
		dE('options001', 0)
		var active_tab = document.getElementById("tab001");
	}

	var id = '000';
	active_tab.setAttribute("class", "garage_preset_yes activetab");

//-->
</script>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
