<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

<script type="text/javascript" src="{T_TEMPLATE_PATH}/garage_functions.js"></script>
<td width="72%" valign="top">

		<div id="advanced00">
			<div class="garage_cat">
				<ul>
					<li class="garage_preset_yes" id="tab000"><a href="#data" onclick="swap_options('0','0','0');"><span class="tabbg">{L_DYNORUN}</span></a></li>
					<!-- IF U_MANAGE_GALLERY --><li class="garage_preset_yes" id="tab001"><a href="#images" onclick="swap_options('0','0','1');"><span class="tabbg">{L_IMAGES}</span></a></li><!-- ENDIF -->
				</ul>
			</div>
			
			<div class="garage_panel" id="options000" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
				<form enctype="multipart/form-data" method="post" name="rollingroad" action="{S_MODE_ACTION}">
				<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
					<tr>
						<td class="cat" align="center" height="28" colspan="2"><span class="gen">{L_TITLE}</span></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen"><b>{L_DYNOCENTRE}</b></span></td>
						<td class="row2"><select id="dynocentre_id" name="dynocentre_id"><option value="">{L_SELECT_DYNOCENTRE}</option><option value="">------</option><!-- BEGIN dynocentre--><option value="{dynocentre.VALUE}" <!-- IF dynocentre.S_SELECTED -->selected="selected"<!-- ENDIF -->>{dynocentre.TEXT}</option><!-- END dynocentre --></select>&nbsp;<span class="gensmall"><font color="#FF0000">[{L_REQUIRED}]</font></span>&nbsp;<span class="gensmall">{L_NOT_LISTED_YET}<a href="{U_SUBMIT_BUSINESS_DYNOCENTRE}">{L_HERE}</a></span></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_BHP_EXPLAIN}</span></td>
						<td class="row2"><input name="bhp" type="text" class="post" size="15" value ="{BHP}" />&nbsp;<select id="bhp_unit" name="bhp_unit"><option value="">{L_SELECT_A_OPTION}</option><option value="">------</option><!-- BEGIN bhp_unit --><option value="{bhp_unit.VALUE}" <!-- IF bhp_unit.S_SELECTED -->selected="selected"<!-- ENDIF -->>{bhp_unit.TEXT}</option><!-- END bhp_unit --></select>&nbsp;<span class="gensmall"><font color="#FF0000">[{L_REQUIRED}]</font></span</td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_TORQUE_EXPLAIN}</span></td>
						<td class="row2"><input name="torque" type="text" class="post" size="15" value ="{TORQUE}" />&nbsp;<select id="torque_unit" name="torque_unit"><option value="">{L_SELECT_A_OPTION}</option><option value="">------</option><!-- BEGIN torque_unit --><option value="{torque_unit.VALUE}" <!-- IF torque_unit.S_SELECTED -->selected="selected"<!-- ENDIF -->>{torque_unit.TEXT}</option><!-- END torque_unit --></select></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_BOOST_EXPLAIN}</span></td>
						<td class="row2"><input name="boost" type="text" class="post" size="15" value ="{BOOST}" />&nbsp;<select id="boost_unit" name="boost_unit"><option value="">{L_SELECT_A_OPTION}</option><option value="">------</option><!-- BEGIN boost --><option value="{boost.VALUE}" <!-- IF boost.S_SELECTED -->selected="selected"<!-- ENDIF -->>{boost.TEXT}</option><!-- END boost --></select></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_NITROUS_EXPLAIN}</span></td>
						<td class="row2"><select id="nitrous" name="nitrous"><option value="">{L_SELECT_A_OPTION}</option><option value="">------</option><!-- BEGIN nitrous --><option value="{nitrous.VALUE}" <!-- IF nitrous.S_SELECTED -->selected="selected"<!-- ENDIF -->>{nitrous.TEXT}</option><!-- END nitrous --></select></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><span class="gen">{L_PEAKPOINT_EXPLAIN}</span></td>
						<td class="row2"><input name="peakpoint" type="text" class="post" size="15" value ="{PEAKPOINT}" /></td>
					</tr>

					<!-- IF ! DID -->
						<!-- INCLUDE garage_image_attach.html -->
					<!-- ENDIF -->

					<tr>
						<td class="cat" align="center" height="28" colspan="2"><input type="hidden" value="{CID}" name="CID" /><input type="hidden" value="{DID}" name="DID" /><input type="hidden" value="{PENDING_REDIRECT}" name="pending_redirect" /><input name="submit" type="submit" value="{L_BUTTON}" class="liteoption" /></td>
					</tr>
				</form>
				</table>
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

			<div class="garage_panel" id="options001" style="display: none;">
			<span class="corners-top"><span></span></span>
			<div class="tablewrap">
				<!-- INCLUDE garage_manage_gallery.html -->
			</div>
			<span class="corners-bottom"><span></span></span>
			</div>

		</div>
		
</td>

<script type="text/javascript">
<!--
	var lowest_tab = '0';
	var active_pmask = '0';
	var active_fmask = '0';
	if (document.location.hash == "")
	{
		active_cat = lowest_tab;
		dE('options00' + lowest_tab , 0)
		var active_tab = document.getElementById("tab00" + lowest_tab);
	}
	else if (document.location.hash == "#data")
	{
		active_cat = '0';
		dE('options000', 0)
		var active_tab = document.getElementById("tab000");
	}
	else if (document.location.hash == "#images")
	{
		active_cat = '1';
		dE('options001', 0)
		var active_tab = document.getElementById("tab001");
	}

	var id = '000';
	active_tab.setAttribute("class", "garage_preset_yes activetab");

//-->
</script>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
