<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

		<td width="72%" valign="top">
			<form action="{S_MODE_ACTION}" method="post" name="reassign_business">
			<table width="100%" cellpadding="4" cellspacing="1" border="0" class="tablebg" >
				<tr>
					<th colspan="2" class="thHead">{L_REASSIGN_BUSINESS}</th>
				</tr>
				<tr>
					<td class="row1" width="50%"><span class="gen"><b>{L_BUSINESS_DELETING}</b></span></td>
					<td class="row1"><span class="genmed">{BUSINESS_NAMES}</span></td>
				</tr>
				<tr>
					<td class="row1" width="50%"><span class="gen"><b>{L_REASSIGN_TO}</b></span></td>
					<td class="row1">{BUSINESS_SELECT}</td>
				</tr>
				<!-- BEGIN business -->
				<tr>
					<td align="center"><input type="hidden" name="id_list[]" value="{business.ID}" /></td>
				</tr>
				<!-- END business -->
				<tr>
					<td class="catBottom" colspan="2" align="center"><input type="submit" name="submit" value="{L_REASSIGN_BUTTON}" class="mainoption" /></td>
				</tr>
  			</table>
			</form>
		</td>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
