<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>

	<br clear="all" /><br />
<!-- ENDIF -->

<!-- INCLUDE garage_header.html -->

<!-- INCLUDE garage_menu.html -->

		<td width="72%" valign="top" >
			<table width="100%" border="0" cellspacing="1" cellpadding="4" class="tablebg">
				<tr>
					<th height="25" colspan="2">{L_WELCOME}</th>
				</tr>
				<tr>
					<!-- BEGIN no_featured_vehicle -->
					<td class="row1"><span class="genmed">{L_WELCOME_TEXT}<br /><br />{L_TOTAL_VEHICLES}:<b>{TOTAL_VEHICLES}</b><br />{L_TOTAL_MODIFICATIONS}:<b>{TOTAL_MODIFICATIONS}</b><br />{L_TOTAL_COMMENTS}:<b>{TOTAL_COMMENTS}</b><br />{L_TOTAL_VIEWS}:<b>{TOTAL_VIEWS}</b></span></td>
					<!-- END no_featured_vehicle -->
					<!-- BEGIN show_featured_vehicle -->
					<td width="33%" class="row1" align="center">
						<table cellpadding="3" cellspacing="1" border="0" class="tablebg">
							<tr>
								<th class="thHead" height="25" align="center" colspan="2">{L_FEATURED_VEHICLE}</th>
							</tr>
							<tr>
								<td class="row1" nowrap align="center"><span align="center" class="genmed">{FEATURED_DESCRIPTION}<br /><a href="{U_VIEW_IMAGE}" title="{IMAGE_TITLE}" target="_blank"><img hspace="5" vspace="5" src="{FEATURED_THUMB}" /></a><br /><a href="{U_VIEW_VEHICLE}">{VEHICLE}</a><br />{L_OWNER}:<a href="{U_VIEW_PROFILE}">{USERNAME}</a></span></td>
							</tr>
						</table>
					</td>
					<td class="row1"><span class="genmed">{L_WELCOME_TEXT}<br /><br />{L_TOTAL_VEHICLES}:<b>{TOTAL_VEHICLES}</b><br />{L_TOTAL_MODIFICATIONS}:<b>{TOTAL_MODIFICATIONS}</b><br />{L_TOTAL_COMMENTS}:<b>{TOTAL_COMMENTS}</b><br />{L_TOTAL_VIEWS}:<b>{TOTAL_VIEWS}</b></span></td>
					<!-- END show_featured_vehicle -->
				</tr>
			</table>
			<br />

			<table cellpadding="0" cellspacing="1" border="0" width="100%">

				<tr>	
					<!-- IF S_INDEX_COLUMNS == 1 -->
					<td width="100%" valign="top" >
					<!-- ENDIF -->
					<!-- IF S_INDEX_COLUMNS == 2 -->
					<td width="50%" valign="top" >
					<!-- ENDIF -->
					<!-- IF S_INDEX_COLUMNS == 3 -->
					<td width="33%" valign="top" >
					<!-- ENDIF -->
					<!-- IF S_INDEX_COLUMNS == 4 -->
					<td width="25%" valign="top" >
					<!-- ENDIF -->
						<!-- BEGIN block_1 -->
						<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
							<tr>
								<th align="center" colspan="3">{block_1.BLOCK_TITLE}</th>
							</tr>
							<tr>
								<td class="cat" ><span class="gen">{block_1.COLUMN_1_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_1.COLUMN_2_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_1.COLUMN_3_TITLE}</span></td>
							</tr>
							<!-- BEGIN row -->
							<tr>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_1}">{block_1.row.COLUMN_1_TITLE}</a></span></td>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_1.row.U_COLUMN_2}">{block_1.row.COLUMN_2_TITLE}</a></span></td>
								<!-- IF block_1.row.U_COLUMN_3 -->
								<td class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_1.row.U_COLUMN_3}">{block_1.row.COLUMN_3_TITLE}</a></span></td>
								<!-- ELSE -->
								<td class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_1.row.COLUMN_3_TITLE}</span></td>
								<!-- ENDIF -->
							</tr>
							<!-- BEGINELSE -->
							<tr>
								<td class="row1" align="center" valign="middle" colspan="3">{L_NO_ITEM_TO_LIST}</td>
							</tr>
							<!-- END row -->
						</table>
						<br />
						<!-- END block_1 -->

						<!-- BEGIN block_3 -->
						<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
							<tr>
								<th align="center" colspan="3">{block_3.BLOCK_TITLE}</th>
							</tr>
							<tr>
								<td class="cat" ><span class="gen">{block_3.COLUMN_1_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_3.COLUMN_2_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_3.COLUMN_3_TITLE}</span></td>
							</tr>
							<!-- BEGIN row -->
							<tr>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_3.row.U_COLUMN_1}">{block_3.row.COLUMN_1_TITLE}</a></span></td>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_3.row.U_COLUMN_2}">{block_3.row.COLUMN_2_TITLE}</a></span></td>
								<!-- IF block_3.row.U_COLUMN_3 -->
								<td class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_3.row.U_COLUMN_3}">{block_3.row.COLUMN_3_TITLE}</a></span></td>
								<!-- ELSE -->
								<td class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_3.row.COLUMN_3_TITLE}</span></td>
								<!-- ENDIF -->
							</tr>
							<!-- BEGINELSE -->
							<tr>
								<td class="row1" align="center" valign="middle" colspan="3">{L_NO_ITEM_TO_LIST}</td>
							</tr>
							<!-- END row -->
						</table>
						<br />
						<!-- END block_3 -->

						<!-- BEGIN block_5 -->
						<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
							<tr>
								<th align="center" colspan="3">{block_5.BLOCK_TITLE}</th>
							</tr>
							<tr>
								<td class="cat" ><span class="gen">{block_5.COLUMN_1_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_5.COLUMN_2_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_5.COLUMN_3_TITLE}</span></td>
							</tr>
							<!-- BEGIN row -->
							<tr>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_5.row.U_COLUMN_1}">{block_5.row.COLUMN_1_TITLE}</a></span></td>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_5.row.U_COLUMN_2}">{block_5.row.COLUMN_2_TITLE}</a></span></td>
								<!-- IF block_5.row.U_COLUMN_3 -->
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_5.row.U_COLUMN_3}">{block_5.row.COLUMN_3_TITLE}</a></span></td>
								<!-- ELSE -->
								<td class="row1" align="center" valign="middle"><span class="gensmall">{block_5.row.COLUMN_3_TITLE}</span></td>
								<!-- ENDIF -->
							</tr>
							<!-- BEGINELSE -->
							<tr>
								<td class="row1" align="center" valign="middle" colspan="3">{L_NO_ITEM_TO_LIST}</td>
							</tr>
							<!-- END row -->
						</table>
						<br />
						<!-- END block_5 -->

					<!-- IF S_INDEX_COLUMNS == 4 -->
					</td>
					<td width="25%" valign="top" >
					<!-- ENDIF -->

						<!-- BEGIN block_7 -->
						<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
							<tr>
								<th align="center" colspan="3">{block_7.BLOCK_TITLE}</th>
							</tr>
							<tr>
								<td class="cat" ><span class="gen">{block_7.COLUMN_1_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_7.COLUMN_2_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_7.COLUMN_3_TITLE}</span></td>
							</tr>
							<!-- BEGIN row -->
							<tr>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_7.row.U_COLUMN_1}">{block_7.row.COLUMN_1_TITLE}</a></span></td>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_7.row.U_COLUMN_2}">{block_7.row.COLUMN_2_TITLE}</a></span></td>
								<!-- IF block_7.row.U_COLUMN_3 -->
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_7.row.U_COLUMN_3}">{block_7.row.COLUMN_3_TITLE}</a></span></td>
								<!-- ELSE -->
								<td class="row1" align="center" valign="middle"><span class="gensmall">{block_7.row.COLUMN_3_TITLE}</span></td>
								<!-- ENDIF -->
							</tr>
							<!-- BEGINELSE -->
							<tr>
								<td class="row1" align="center" valign="middle" colspan="3">{L_NO_ITEM_TO_LIST}</td>
							</tr>
							<!-- END row -->
						</table>
						<br />
						<!-- END block_7 -->

					<!-- IF S_INDEX_COLUMNS == 3 -->
					</td>
					<td width="33%" valign="top" >
					<!-- ENDIF -->

						<!-- BEGIN block_9 -->
						<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
							<tr>
								<th align="center" colspan="3">{block_9.BLOCK_TITLE}</th>
							</tr>
							<tr>
								<td class="cat" ><span class="gen">{block_9.COLUMN_1_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_9.COLUMN_2_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_9.COLUMN_3_TITLE}</span></td>
							</tr>
							<!-- BEGIN row -->
							<tr>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_9.row.U_COLUMN_1}">{block_9.row.COLUMN_1_TITLE}</a></span></td>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_9.row.U_COLUMN_2}">{block_9.row.COLUMN_2_TITLE}</a></span></td>
								<!-- IF block_9.row.U_COLUMN_3 -->
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_9.row.U_COLUMN_3}">{block_9.row.COLUMN_3_TITLE}</a></span></td>
								<!-- ELSE -->
								<td class="row1" align="center" valign="middle"><span class="gensmall">{block_9.row.COLUMN_3_TITLE}</span></td>
								<!-- ENDIF -->
							</tr>
							<!-- BEGINELSE -->
							<tr>
								<td class="row1" align="center" valign="middle" colspan="3">{L_NO_ITEM_TO_LIST}</td>
							</tr>
							<!-- END row -->
						</table>
						<br />
						<!-- END block_9 -->

						<!-- BEGIN block_11 -->
						<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
							<tr>
								<th align="center" colspan="3">{block_11.BLOCK_TITLE}</th>
							</tr>
							<tr>
								<td class="cat" ><span class="gen">{block_11.COLUMN_1_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_11.COLUMN_2_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_11.COLUMN_3_TITLE}</span></td>
							</tr>
							<!-- BEGIN row -->
							<tr>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_11.row.U_COLUMN_1}">{block_11.row.COLUMN_1_TITLE}</a></span></td>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_11.row.U_COLUMN_2}">{block_11.row.COLUMN_2_TITLE}</a></span></td>
								<!-- IF block_11.row.U_COLUMN_3 -->
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_11.row.U_COLUMN_3}">{block_11.row.COLUMN_3_TITLE}</a></span></td>
								<!-- ELSE -->
								<td class="row1" align="center" valign="middle"><span class="gensmall">{block_11.row.COLUMN_3_TITLE}</span></td>
								<!-- ENDIF -->
							</tr>
							<!-- BEGINELSE -->
							<tr>
								<td class="row1" align="center" valign="middle" colspan="3">{L_NO_ITEM_TO_LIST}</td>
							</tr>
							<!-- END row -->
						</table>
						<br />
						<!-- END block_11 -->

					<!-- IF S_INDEX_COLUMNS == 2 -->
					</td>
					<td width="50%" valign="top" >
					<!-- ELSEIF S_INDEX_COLUMNS == 4 -->
					</td>
					<td width="25%" valign="top" >
					<!-- ENDIF -->


						<!-- BEGIN block_2 -->
						<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
							<tr>
								<th align="center" colspan="3">{block_2.BLOCK_TITLE}</th>
							</tr>
							<tr>
								<td class="cat" ><span class="gen">{block_2.COLUMN_1_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_2.COLUMN_2_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_2.COLUMN_3_TITLE}</span></td>
							</tr>
							<!-- BEGIN row -->
							<tr>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_2.row.U_COLUMN_1}">{block_2.row.COLUMN_1_TITLE}</a></span></td>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_2.row.U_COLUMN_2}">{block_2.row.COLUMN_2_TITLE}</a></span></td>
								<!-- IF block_2.row.U_COLUMN_3 -->
								<td class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_2.row.U_COLUMN_3}">{block_2.row.COLUMN_3_TITLE}</a></span></td>
								<!-- ELSE -->
								<td class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_2.row.COLUMN_3_TITLE}</span></td>
								<!-- ENDIF -->
							</tr>
							<!-- BEGINELSE -->
							<tr>
								<td class="row1" align="center" valign="middle" colspan="3">{L_NO_ITEM_TO_LIST}</td>
							</tr>
							<!-- END row -->
						</table>
						<br />
						<!-- END block_2 -->

						<!-- BEGIN block_4 -->
						<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
							<tr>
								<th align="center" colspan="3">{block_4.BLOCK_TITLE}</th>
							</tr>
							<tr>
								<td class="cat" ><span class="gen">{block_4.COLUMN_1_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_4.COLUMN_2_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_4.COLUMN_3_TITLE}</span></td>
							</tr>
							<!-- BEGIN row -->
							<tr>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_4.row.U_COLUMN_1}">{block_4.row.COLUMN_1_TITLE}</a></span></td>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_4.row.U_COLUMN_2}">{block_4.row.COLUMN_2_TITLE}</a></span></td>
								<!-- IF block_4.row.U_COLUMN_3 -->
								<td class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_4.row.U_COLUMN_3}">{block_4.row.COLUMN_3_TITLE}</a></span></td>
								<!-- ELSE -->
								<td class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_4.row.COLUMN_3_TITLE}</span></td>
								<!-- ENDIF -->
							</tr>
							<!-- BEGINELSE -->
							<tr>
								<td class="row1" align="center" valign="middle" colspan="3">{L_NO_ITEM_TO_LIST}</td>
							</tr>
							<!-- END row -->
						</table>
						<br />
						<!-- END block_4 -->

					<!-- IF S_INDEX_COLUMNS == 3 -->
					</td>
					<td width="33%" valign="top" >
					<!-- ENDIF -->

						<!-- BEGIN block_6 -->
						<table  width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
							<tr>
								<th align="center" colspan="3">{block_6.BLOCK_TITLE}</th>
							</tr>
							<tr>
								<td class="cat" ><span class="gen">{block_6.COLUMN_1_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_6.COLUMN_2_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_6.COLUMN_3_TITLE}</span></td>
							</tr>
							<!-- BEGIN row -->
							<tr>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_6.row.U_COLUMN_1}">{block_6.row.COLUMN_1_TITLE}</a></span></td>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_6.row.U_COLUMN_2}">{block_6.row.COLUMN_2_TITLE}</a></span></td>
								<!-- IF block_6.row.U_COLUMN_3 -->
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_6.row.U_COLUMN_3}">{block_6.row.COLUMN_3_TITLE}</a></span></td>
								<!-- ELSE -->
								<td class="row1" align="center" valign="middle"><span class="gensmall">{block_6.row.COLUMN_3_TITLE}</span></td>
								<!-- ENDIF -->
							</tr>
							<!-- BEGINELSE -->
							<tr>
								<td class="row1" align="center" valign="middle" colspan="3">{L_NO_ITEM_TO_LIST}</td>
							</tr>
							<!-- END row -->
						</table>
						<br />
						<!-- END block_6 -->

					<!-- IF S_INDEX_COLUMNS == 4 -->
					</td>
					<td width="25%" valign="top" >
					<!-- ENDIF -->

						<!-- BEGIN block_8 -->
						<table  width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
							<tr>
								<th align="center" colspan="3">{block_8.BLOCK_TITLE}</th>
							</tr>
							<tr>
								<td class="cat" ><span class="gen">{block_8.COLUMN_1_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_8.COLUMN_2_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_8.COLUMN_3_TITLE}</span></td>
							</tr>
							<!-- BEGIN row -->
							<tr>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_8.row.U_COLUMN_1}">{block_8.row.COLUMN_1_TITLE}</a></span></td>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_8.row.U_COLUMN_2}">{block_8.row.COLUMN_2_TITLE}</a></span></td>
								<!-- IF block_8.row.U_COLUMN_3 -->
								<td class="row1" align="center" valign="middle" nowrap><span class="gensmall"><a href ="{block_8.row.U_COLUMN_3}">{block_8.row.COLUMN_3_TITLE}</a></span></td>
								<!-- ELSE -->
								<td class="row1" align="center" valign="middle" nowrap><span class="gensmall">{block_8.row.COLUMN_3_TITLE}</span></td>
								<!-- ENDIF -->
							</tr>
							<!-- BEGINELSE -->
							<tr>
								<td class="row1" align="center" valign="middle" colspan="3">{L_NO_ITEM_TO_LIST}</td>
							</tr>
							<!-- END row -->
						</table>
						<br />
						<!-- END block_8 -->

						<!-- BEGIN block_10 -->
						<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
							<tr>
								<th align="center" colspan="3">{block_10.BLOCK_TITLE}</th>
							</tr>
							<tr>
								<td class="cat" ><span class="gen">{block_10.COLUMN_1_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_10.COLUMN_2_TITLE}</span></td>
								<td class="cat" ><span class="gen">{block_10.COLUMN_3_TITLE}</span></td>
							</tr>
							<!-- BEGIN row -->
							<tr>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_10.row.U_COLUMN_1}">{block_10.row.COLUMN_1_TITLE}</a></span></td>
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_10.row.U_COLUMN_2}">{block_10.row.COLUMN_2_TITLE}</a></span></td>
								<!-- IF block_10.row.U_COLUMN_3 -->
								<td class="row1" align="center" valign="middle"><span class="gensmall"><a href ="{block_10.row.U_COLUMN_3}">{block_10.row.COLUMN_3_TITLE}</a></span></td>
								<!-- ELSE -->
								<td class="row1" align="center" valign="middle"><span class="gensmall">{block_10.row.COLUMN_3_TITLE}</span></td>
								<!-- ENDIF -->
							</tr>
							<!-- BEGINELSE -->
							<tr>
								<td class="row1" align="center" valign="middle" colspan="3">{L_NO_ITEM_TO_LIST}</td>
							</tr>
							<!-- END row -->
						</table>
						<!-- END block_10 -->
					</td>
				</tr>
			</table>
		</td>

<!-- INCLUDE garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
